<!-- <div class='container booking'>

  <div class='row my-4'>
    <div class='col-9'>
      <div class="col-12 px-0 d-flex justify-content-between my-3 review">
        <div class="d-flex">
          <h6>Review Itinerary</h6>
          <span>Penang</span>
          <span>To</span>
          <span>Kuala Lumpur</span>
          <span>Mon,30 Apr 2018</span>
        </div>
        <div>
          <a>- Back to Flight Results</a>
        </div>
      </div>


      <div class="col-12 px-0 mb-3 booking_ticket">
        <div class="col-12 px-0 d-flex justify-content-center align-self-center">
          <div class="col-8">
            <div class="col-12 px-0 d-flex justify-content-center align-self-center">


              <div class="col-3">

                <div class="pr-0">
                  <img class="img-fluid" src="assets/images/delta_airlines.gif" alt="Delata Airlines Image">
                </div>
                <div>
                  <h6 class="mb-1">Delta Air Lines</h6>
                  <p class="mb-0 aircode">AI-9506</p>
                </div>
              </div>

              <div class="col-3">

                <div class="mb-1 d-flex">
                  <h6 class="mb-0 mr-1">AGX</h6>
                  <h6 class="mb-0">10:30 </h6>
                </div>
                <div>
                  <p class="mb-0">Fri 18 may</p>
                </div>
              </div>
              <div class="col-3">

                <h6 class="mb-0">1h 55m</h6>
                <img class="img-fluid" src="https://paytm.com/travel/images/flights/srp_arrow.svg" alt="arrow">
                <p class="mb-0">Non Stop</p>
              </div>
              <div class="col-3">
                <div class="mb-1 d-flex">
                  <h6 class="mb-0 mr-1">AGX</h6>
                  <h6 class="mb-0">
                    10:30 </h6>
                </div>
                <div>
                  <p class="mb-0">Fri 18 may</p>
                </div>

              </div>
            </div>
          </div>
          <div class="col-4 d-flex justify-content-center align-self-end">
            <div class="col-6">
              <p class="mb-0">Non Refundable</p>
            </div>
            <div class="col-6">
              <p class="mb-0">Fare details</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 px-0">

      </div>

    </div>
    <div class='col-3 align-self-start price_div sticky-top ticket_details'>

      <div class="col-12 p-3">
        <table class="table">
          <thead>
            <tr>
              <th class="w-45">
                Fare Breakup
              </th>
              <th class="w-10"></th>
              <th class="w-45">
                Adult 1,Child 1,Infant 0
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Total Base Fare
              </td>
              <td>:</td>
              <td>
                1,475
              </td>
            </tr>
            <tr>
              <td>
                Total Taxes & Fees
              </td>
              <td>:</td>
              <td>
                1,017
              </td>
            </tr>
            <tr>
              <td>
                Total Airfare
              </td>
              <td>
                :
              </td>
              <td>
                2,492
              </td>
            </tr>
            <tr>
              <td>Grand Total </td>
              <td>:</td>
              <td>2991 </td>
            </tr>
          </tbody>
        </table>

        <div>
          <button class="btn">Proceed To Pay</button>
          <span></span>
          <span></span>
        </div>
      </div>

    </div>

  </div>
</div> -->
<div class="container">
  <div class="booking_section mt-4">
    <div class="ticket_div">
      <div class="booking_head mt-4 mb-3">
        <div class="box1 d-flex align-self-center">
          <h3 class="pr-3">Review Itinerary </h3>
          <span>Penang</span>
          <span>To</span>
          <span>Kuala Lumpur</span>
          <span>Mon 30 Apr,2018 </span>



        </div>
        <div class="d-flex justify-content-end align-items-center box2s">
          <p class="mb-0">
            <a href="">Back to Flight Result</a>
          </p>
        </div>
      </div>
      <div class="ticket_body">
        <div class="py-3 d-flex ml-3">
          <div class="box">
            <div class="dots"></div>
          </div>

          <div class="pr-0">
            <img class="img-fluid" src="assets/images/delta_airlines.gif" alt="Delata Airlines Image">
          </div>
          <div>
            <h6 class="mb-1">Delta Air Lines</h6>
            <p class="mb-0 aircode">AI-9506</p>
          </div>
        </div>
        <div class="py-3 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-1 d-flex">
            <h6 class="mb-0 mr-1">AGX</h6>
            <h6 class="mb-0">10:30 </h6>
          </div>
          <div>
            <p class="mb-0">Fri 18 may</p>
          </div>
        </div>
        <div class="py-3 d-flex flex-column justify-content-center align-items-center">
          <h6 class="mb-0">1h 55m</h6>
          <img class="img-fluid" src="https://paytm.com/travel/images/flights/srp_arrow.svg" alt="arrow">
          <p class="mb-0">Non Stop</p>

        </div>
        <div class="py-3 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-1 d-flex">
            <h6 class="mb-0 mr-1">AGX</h6>
            <h6 class="mb-0">
              10:30 </h6>
          </div>
          <div>
            <p class="mb-0">Fri 18 may</p>
          </div>
        </div>
        <div class="py-3 refund">
          <p class="nonrefundable">Non Refunable</p>
        </div>
        <div class="py-3 fareruls">
          <p >Flight details</p>
          <div class="curve">
            <div class="shap"></div>
          </div>
        </div>
      </div>
      <div class="tip mb-4">
        <p>Tip :
          <span>Airport taxes will be refunable. please check fareruls for more details</span>
        </p>
      </div>
      <div class="travel">
        <div class=" travel_details">
          <div class="col-md-9 pad {{tab1}}">
            <div>
              <h4>Traveller Details</h4>
            </div>
            <div class="travel_grid  d-none ">
              <div class="round active">
                <div class="inner ">1</div>
              </div>
              <div class="round">
                <div class="inner">2</div>
              </div>
              <div class="round">
                <div class="inner">3</div>
              </div>
            </div>


            <form>
              <h6>Adult-1</h6>
              <div class="form-row">
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <mat-select placeholder="Tittle">
                      <mat-option value="option">Mr</mat-option>
                      <mat-option value="option">Mrs</mat-option>
                      <mat-option value="option">Miss</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="First Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Last Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="p" placeholder="Date Of Birth">
                    <mat-datepicker-toggle matSuffix [for]="p"></mat-datepicker-toggle>
                    <mat-datepicker #p></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Passport Number" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="d" placeholder="Passport Expiry Date">
                    <mat-datepicker-toggle matSuffix [for]="d"></mat-datepicker-toggle>
                    <mat-datepicker #d></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <mat-select placeholder="Visa Type (Optional)">
                      <mat-option value="option">Economy</mat-option>
                      <mat-option value="option">Busniess</mat-option>
                      <mat-option value="option">Employee</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="Pass" placeholder="Passport issuing Date">
                    <mat-datepicker-toggle matSuffix [for]="Pass"></mat-datepicker-toggle>
                    <mat-datepicker #Pass></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Passport Issue Country" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Frequent Flyer No(option)" color>
                  </mat-form-field>
                </div>
              </div>
              <div class="next_btn">
                <button type="button" class="btn btn-default btn-rounded button">Next</button>
              </div>
            </form>
          </div>
          <div class="col-md-9 pad {{tab2}}">
            <form>
              <div class="form-row">
                <div class="col-md-4 col-sm-4 col-xs-12 px-3   mb-3">
                  <mat-form-field>
                    <input matInput placeholder="First Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Last Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Contact" color>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-9 pad {{tab3}}">
            <h6>Adult</h6>
            <div class="form-row">
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <mat-select placeholder="Tittle">
                    <mat-option value="option">Mr</mat-option>
                    <mat-option value="option">Mrs</mat-option>
                    <mat-option value="option">Miss</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="First Name" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Last Name" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date Of Birth">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Passport Number" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="date" placeholder="Passport Expiry Date">
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <mat-select placeholder="Visa Type (Optional)">
                    <mat-option value="option">Economy</mat-option>
                    <mat-option value="option">Busniess</mat-option>
                    <mat-option value="option">Employee</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="Passport" placeholder="Passport issuing Date">
                  <mat-datepicker-toggle matSuffix [for]="Passport"></mat-datepicker-toggle>
                  <mat-datepicker #Passport></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Passport Issue Country" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Frequent Flyer No(option)" color>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3 px-0 d-none d-md-block">
            <mat-card class="traveler_infomation">
              <div class="travel_grid ">
                <div class="round active">
                  <div class="inner tab1" (click)="trvl_inf($event)">1</div>
                </div>
                <div class="round">
                  <div class="inner tab2" (click)="trvl_inf($event)">2</div>
                </div>
                <div class="round">
                  <div class="inner tab3" (click)="trvl_inf($event)">3</div>
                </div>
              </div>
              <div class="travler">
                <div>
                  <img src="assets/images/travler.svg" />
                  <h6>Travelers Infomation</h6>
                  <p>Its a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
              <div class="please">
                <p>Please enter Travelers Details*</p>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="price_div align-self-start sticky-top">
      <mat-card class="p-4">
        <div class="mb-4 d-flex align-items-center justify-content-between fare_breakup">
          <h4 class="mb-0">Fare Breakup</h4>
          <p class="mb-0">Adult 1, Child 1, Infant 1
          </p>
        </div>
        <div class="fare">
          <table class="w-100">
            <tr class="d-flex justify-content-between py-1">
              <td>Total Base Fare</td>
              <td>:</td>
              <td>9090</td>
            </tr>
            <tr class="d-flex justify-content-between py-1">
              <td>Total Base Fare</td>
              <td>:</td>
              <td>9090</td>
            </tr>
            <tr class="d-flex justify-content-between py-1 total">
              <td>Total Base Fare</td>
              <td>:</td>
              <td>9090</td>
            </tr>
            <tr class="d-flex justify-content-between my-4 grand py-2">
              <td>Grand Total</td>
              <!-- <td>:</td> -->
              <td>9090</td>
            </tr>
          </table>
        </div>
        <div class="grand">

        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-rounded button">Proceed To Pay</button>
        </div>
        <div class="text-center agree mb-5">
          <p>By Booking with webaxyz
            <br> you agree the
            <a href="">Terms and Conditions</a>
          </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
