<div class="footer">
  <div class="section">
    <div class="col-md-12 col-sm-12 col-xs-12  d-flex flex-column flex-md-row text-center py-5">
      <div class="col-md-2 col-sm-2 col-xs-12"><img src="../../../assets/images/galileo.jpg"/></div>
      <div class="col-md-2 col-sm-2 col-xs-12"><img src="../../../assets/images/oyo.jpg"/></div>
      <div class="col-md-2 col-sm-2 col-xs-12"><img src="../../../assets/images/payubiz.jpg"/></div>
      <div class="col-md-2 col-sm-2 col-xs-12"><img src="../../../assets/images/redbus.jpg"/></div>
      <div class="col-md-2 col-sm-2 col-xs-12"><img src="../../../assets/images/amadeus.jpg"/></div>
      <div class="col-md-2 col-sm-2 col-xs-12"><img src="../../../assets/images/expedia.jpg"/></div>

    </div>
    <div class="row footer-top">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 footer_img">
            <img class="footer_logo img-fluid" src="../../../assets/images/logo.svg" />
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <h6>About</h6>
            <ul>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <h6>Company</h6>
            <ul>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <h6>Portfolio</h6>
            <ul>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            <h6>Portfolio</h6>
            <ul>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
              <li>ok google</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <h6>Adress</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, aliquam quia exercitationem eligendi ullam cupiditate
          excepturi dolore sed, necessitatibus cumque dignissimos, et similique laboriosam fugiat nam accusamus adipisci
          est odit!</p>
      </div>
    </div>
  </div>
  <div class="fotr-btm d-flex justify-content-center">
    <span>© 2017, WEBAXYZ, All right reserved</span>
  </div>
</div>
