@import '~variables.scss';
@import '~mixins.scss';
.footer {
  background-color: #fff;
  .section {}
  .footer-top {
    .row {
      .footer_img {
        display: flex;
        align-items: center;
        justify-content: center;
        .footer_logo {
          width: 50%;
        }
        @media (max-width: 425px) {
          align-items: left;
          justify-content: left;
        }
      }
      h6 {
        font-weight: 700;
        font-family: $font_family;
        font-size: 14px;
      }
      a {
        text-decoration: none;
        p {
          font-size: 12px;
          font-family: $font_family;
          font-weight: 400;
          margin-bottom: 5px;
        }
      }
      p {
        font-size: 12px;
        font-family: $font_family;
        font-weight: 400;
        margin-bottom: 5px;
      }
    }
  }
  .fotr-btm {
    height: 25px;
    width: 100%;
    color: #fff;
    background: $pinky-orange;
    @include font-12;
    line-height: 2;
  }
}
