@import '~variables.scss';
@import '~mixins.scss';
.sub_head {
  color: #fff;
  background: $pinky-orange;
  z-index: 99;
  @include font-12;
  a {
    padding: 0 14px;
    line-height: 2;
  }
  .helpline {
    line-height: 2;
    align-items: center;
    p {
      font-weight: bold;
    }
    a {
      color: #fff !important;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      i {
        color: #fff;
        font-size: 16px;
        align-items: center;
        line-height: 0;
      }
    }
  }
}

.navbar {
  box-shadow: none;
  .container {
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-family: $font_family; // color: rgba(255, 255, 255, 0.5) !important;
          font-weight: 600;
          padding-top: 4px;
          padding-bottom: 4px;
          font-size: 12px;
          &:hover {
            color: #fff;
          }
          &.active {
            background: #fff;
            color: #000;
            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
  &.indigo {
    padding: 0px !important;
    background-color: none !important;
    background: $pinky-orange !important;
  }
}

.main-hed {
  background-color: #fff;
  height: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  .container {
    .brand {
      text-align: center;
      display: block;
      position: absolute;
      /* top: 0; */
      right: 0;
      left: 0;
      z-index: 1;
      .logo {
        display: inline-block;
        background-color: #fff;
        padding: 15px;
        border-radius: 50%;
        img {
          width: 75px;
        }
      }
    }
    .login {
      cursor: pointer;
      z-index: 99;
      p {
        color: #000;
        font-weight: 600;
        font-family: $font_family;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}

.no_style {
  list-style: none;
  li {
    padding: 0 10px;
    display: flex;
    &:hover {
      cursor: pointer;
    }
    i {
      font-size: 18px;
    }
    &:hover i {
      color: #eee;
    }
  }
}

.nav-br {
  height: 100%;
  float: left;
  display: flex;
  img {
    width: 45px;
  }
  i {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &:hover {
    cursor: pointer;
  }
}

.modal {
  // display: flex;
  justify-content: center;
  align-items: center;
  .modal-dialog {
    max-width: 65%;
    .modal-content {
      .modal-c-tabs {
        .login_regis {
          h5 {
            font-family: $font_family;
            font-weight: 500;
          }
          .material-icons {
            cursor: pointer;
          }
        }
        .form {
          mat-form-field {
            font-family: $font_family;
            color: #000;
          }
        }
        .social_log {
          p {
            font-family: $font_family;
            font-weight: 500;
          }
          button {
            @include button;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

// .modal-open .modal {
//   display: flex !important;
//   align-items: center !important;
//   .modal-dialog {
//     flex-grow: 1;
//   }
// }
