<div class="sticky-top">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo  py-0">
    <links>
      <ul class="navbar-nav my-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mdbWavesEffect>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/about" routerLinkActive="active" mdbWavesEffect>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/flight" routerLinkActive="active" mdbWavesEffect>Flight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/bus" routerLinkActive="active" mdbWavesEffect>Bus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/hotel" routerLinkActive="active" mdbWavesEffect>Hotel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/booking" routerLinkActive="active" mdbWavesEffect>Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/faq" routerLinkActive="active" mdbWavesEffect>Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/globaltemplate" routerLinkActive="active" mdbWavesEffect>Template</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>


  <div class="main-hed d-flex">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="nav-br">
        <i class="material-icons"> menu </i>
      </div>
      <div class="brand">
        <div class="logo">
          <img class="img-fluid" src="../../../assets/images/logo.svg">
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center login">
        <i class="material-icons" mdbWavesEffect (click)="form.show()">
          account_circle
        </i>
        <P class="mb-0" mdbWavesEffect (click)="form.show()">Login / Signup</P>
      </div>
    </div>
  </div>
</div>



<!--Modal: Login / Register Form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <div class="col-12 px-0 d-flex flex-column flex-md-row">
          <div class="col-12 col-md-6 px-0">
            <img src="../../../assets/images/login_image.png" alt="Login image" class="img-fluid">
          </div>
          <div class="col-12 col-md-6 p-4  d-flex flex-column justify-content-between">

            <div class="d-flex justify-content-between align-items-center login_regis">
              <h5 class="mb-0">Login / Register</h5>
              <i class="material-icons waves-light" data-dismiss="modal" (click)="form.hide()" mdbWavesEffect>
                close
              </i>
            </div>
            <div class="d-flex flex-column form py-3">

              <mat-form-field>
                <input matInput placeholder="Enter your name" required>
                <mat-icon matSuffix>string</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter your email" required>
                <mat-icon matSuffix>mail</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>

            </div>

            <div class="d-flex justify-content-between align-items-center social_log">
              <div class="d-flex align-items-center">
                <p class="mb-0">or sign up with</p>
                <div class="px-2">
                  <i class="fab fa-facebook-f"></i>
                </div>
                <div class="px-2">
                  <i class="fab fa-google-plus"></i>
                </div>

              </div>
              <button mdbWavesEffect>Continue</button>
            </div>
          </div>


        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: Login / Register Form-->
