@import '~variables.scss';
@import '~mixins.scss';
.top-hed {
  height: 25px;
  width: 100%;
  color: #fff;
  background: $pinky-orange;
  @include font-12;
  a {
    padding: 0 14px;
    line-height: 2;
  }
}

.navbar {
  box-shadow: none;
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-family: $open_sans; // color: rgba(255, 255, 255, 0.5) !important;
        font-weight: 600;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 12px;
        &:hover {
          color: #fff;
        }
        &.active {
          background: #fff;
          color: #000;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

.main-hed {
  background-color: #fff;
  height: 60px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  .brand {
    margin: auto;
    text-align: center;
    display: block;
    position: relative;
    top: 0;
    .logo {
      display: inline-block;
      background-color: #fff;
      padding: 10px;
      border-radius: 60%;
      img {
        width: 75px;
      }
    }
  }
  .login {
    p {
      color: #000;
      font-weight: 600;
      font-family: $open_sans;
      font-size: 12px;
    }
  }
}

.indigo {
  background-color: none !important;
  background: $pinky-orange !important;
}

.no_style {
  list-style: none;
  li {
    padding: 0 10px;
    display: flex;
    &:hover {
      cursor: pointer;
    }
    i {
      font-size: 18px;
    }
    &:hover i {
      color: #eee;
    }
  }
}

.nav-br {
  height: 100%;
  float: left;
  display: flex;
  i {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &:hover {
    cursor: pointer;
  }
}

.modal {
  .modal-dialog {
    max-width: 65%;
  }
}
