<div class="">
  <div class="sub_head">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex helpline">
          <p class="mb-1 mt-1 pr-3">24 x 7 Customer Support : </p>
          <a href="tel:+9962589566" class="mb-1 mt-1 px-0">
            <i class="material-icons pr-2">
              local_phone
            </i> +9962589566</a>
        </div>
        <div class="d-flex social_icons">
          <div class="p-1">
            <i class="fa fa-facebook-square" aria-hidden="true" matTooltipPosition="below" mat-raised-button matTooltip="Facebook"></i>
          </div>
          <div class="p-1">
            <i class="fa fa-twitter-square" aria-hidden="true" matTooltipPosition="below" mat-raised-button matTooltip="Twitter"></i>
          </div>
          <div class="p-1">
            <i class="fa fa-google-plus-square" aria-hidden="true" matTooltipPosition="below" mat-raised-button matTooltip="Google Plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main-hed d-flex">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center nav-br justify-content-between" style="z-index: 99;">
        <div class="pr-3">
          <a routerLink="/flight" routerLinkActive="active" matTooltipPosition="below" mat-raised-button matTooltip="Flight">
            <img src="assets/images/flight.svg ">
          </a>
        </div>
        <div class="pr-3">
          <a routerLink="/hotel" routerLinkActive="active" matTooltipPosition="below" mat-raised-button matTooltip="Hotel">
            <img src="assets/images/hotel.svg">
          </a>
        </div>
        <div class="pr-3">
          <a routerLink="/bus" routerLinkActive="active" matTooltipPosition="below" mat-raised-button matTooltip="Bus">
            <img src="assets/images/bus.svg ">
          </a>
        </div>
        <div class="pr-3">
          <a routerLink="/example" routerLinkActive="active" matTooltipPosition="below" mat-raised-button matTooltip="Bus">
            <img src="assets/images/bus.svg ">
          </a>
        </div>
        

      </div>
      <div class="brand">
        <div class="logo">
          <a routerLink="">
            <img class="img-fluid" src="assets/images/logo.svg">
          </a>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center login">

        <div class="d-flex flex-column justify-content-center align-items-center pr-2">
          <i class="material-icons" mdbWavesEffect (click)="form.show()">
            account_circle
          </i>
          <P class="mb-0" mdbWavesEffect (click)="form.show()">Login / Signup</P>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center login_profile_details">
          <img src="assets/images/profile_pic1.jpg" alt="Profile Image" class="img-fluid">
          <button mat-button [matMenuTriggerFor]="menu" class="d-flex justify-content-center align-items-center">
            <p class="mb-0">
              Harish Jella
            </p>

            <i class="material-icons">
              keyboard_arrow_down
            </i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>View Profile</button>
            <button mat-menu-item>Your Orders</button>
            <button mat-menu-item>Your Wallet</button>
            <button mat-menu-item>24*7 Help</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Modal: Login / Register Form-->
<div mdbModal #form="mdb-modal" class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <div class="col-12 px-0 d-flex flex-column flex-md-row">
          <div class="col-12 col-md-6 px-0">
            <img src="assets/images/login_image.jpg" alt="Login image" class="img-fluid">
          </div>
          <div class="col-12 col-md-6 p-4  d-flex flex-column justify-content-between">

            <div class="d-flex justify-content-between align-items-center login_regis">
              <h5 class="mb-0 d-flex justify-content-center align-items-center">
                <p class="mb-0 mr-1 px-2 py-1 {{loginActive}}" (click)="Login()">Login</p>
                <p class="mb-0 mr-1 px-2 py-1">/</p>
                <p class="mb-0 px-2 py-1 {{registerActive}}" (click)="Register()">Register</p>

              </h5>
              <i class="material-icons waves-light" data-dismiss="modal" (click)="form.hide()" mdbWavesEffect>
                close
              </i>
            </div>
            <div class="form_fields">
              <div class="animated flex-column form py-3 {{login_form}}">

                <mat-form-field>
                  <input matInput placeholder="Enter your name" required>
                  <mat-icon matSuffix>string</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>

              </div>
              <div class="animated  flex-column form py-3 {{forgot_password_form}}">
                <p>Forgot Password</p>
                <mat-form-field>
                  <input matInput placeholder="Enter your name" required>
                  <mat-icon matSuffix>string</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>

              </div>
              <div class="animated  flex-column form py-3 {{register_form}}">
                <div class="d-flex">
                  <div class="col-6 pl-0">
                    <mat-form-field>
                      <input matInput placeholder="Enter your name" required>
                      <mat-icon matSuffix>string</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Enter your email" required>
                      <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Enter your Password" required>
                      <mat-icon matSuffix>password</mat-icon>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-6 pr-0">
                    <mat-form-field>
                      <input matInput placeholder="D.O.B" required>
                      <mat-icon matSuffix>string</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Country" required>
                      <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="phone" required>
                      <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Gender" required>
                      <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>

                  </div>
                </div>


              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end social_log">
              <div class="d-flex align-items-center pr-2">
                <p class="mb-0">or sign up with</p>
                <div class="px-2">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </div>
                <div class="px-2">
                  <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </div>

              </div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="mb-0 text-center forgot_password" (click)="ForgotPassword()">Forgot Password ?</p>
                <button mdbWavesEffect>Continue</button>
              </div>

            </div>
          </div>


        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: Login / Register Form-->
