<div class="booking_section">
  
  <div class="ticket_div">
      <div class="booking_head">
          <div class="box1">
              <h3>Review Itinerary
                <span>Penang</span>
                <span>To</span>
                <span>Kuala Lumpur</span>
                <span>Mon,</span>
                <span>30,Apr</span>
                <span>2018,</span>
              </h3>
          </div>
          <div class="box2s">
              <p><a href="">Back to Flight Result</a></p>
            </div>
        </div>
   <div class="ticket_body">

<div>
  <img scr=""/>
 <label>Delta airlines</label>
 <p>0D-2010</p>
 <p>Economy</p>
</div>
<div>
    <label>06:30 <span>BLR</span></label>
    <p>
      <span>Mon,</span>
      <span>30,Apr</span>
      <span>2018,</span>
    </p>
</div>
<div>
    <label>Delta airlines</label>
    <p>0D-2010</p>
</div>
<div>
    <label>12:30 <span>maa</span></label>
    <p>
        <span>Mon,</span>
        <span>30,Apr</span>
        <span>2018,</span>
      </p>
</div>
<div class="refund">
  <p>Non Refunable</p>
</div>
<div class="fareruls">
  <p>FareRules +</p>
</div>
   </div>
   <div class="tip">
     <p>Tip : <span>Airport taxes will be refunable. please check fareruls for more details</span></p>
   </div>
   <div class="travel">
     <div class="travel_details">
        <div>
          <div>
            <h4>Traveller Infomation</h4>
          </div>
          <div>
              <mat-form-field>
                  <input matInput placeholder="Input">
                </mat-form-field>
          </div>
        </div>
        <div>
          <mat-card>

          </mat-card>
        </div>
     </div>
     

   </div>
  </div>

  <div class="price_div">
      <mat-card>

          <div>
            <h4>Fare Breakup</h4>
            <p>Adult<span>1,</span>Child<span>1,</span>Infant<span>0</span></p>
          </div>
          <div class="fare">
            <div>
              <label>Total Base Fare</label>
            </div>
            <div>
              <p>:</p>
            </div>
            <div>
              <p>3,592</p>
            </div>
            <div>
                <label>Total Base Fare</label>
              </div>
              <div>
                <p>:</p>
              </div>
              <div>
                <p>3,592</p>
              </div>
              <div>
                  <label>Total Base Fare</label>
                </div>
                <div>
                  <p>:</p>
                </div>
                <div>
                  <p>3,592</p>
                </div>
          </div>
         <div class="grand">
            <div>
                <label>Grand Total</label>
              </div>
              <div class="colen">
                <label >:</label>
              </div>
              <div class="gand_tot">
                <label>3,592</label>
              </div>
         </div>
         <div>
           button
         </div>
        </mat-card>
  </div>
</div>





