<div class="section">
  <div class="booking_section">
    <div class="ticket_div">
      <div class="booking_head">
        <div class="box1">
          <h3>Review Itinerary
            <span>Penang</span>
            <span>To</span>
            <span>Kuala Lumpur</span>
            <span>Mon,</span>
            <span>30,Apr</span>
            <span>2018,</span>
          </h3>
        </div>
        <div class="box2s">
          <p>
            <a href="">Back to Flight Result</a>
          </p>
        </div>
      </div>
      <div class="ticket_body">
        <div>
          <div class="box">
            <div class="dots"></div>
          </div>
          <img scr="" />
          <label>Delta airlines</label>
          <p>0D-2010</p>
          <p>Economy</p>
        </div>
        <div>
          <label>06:30
            <span>BLR</span>
          </label>
          <p>
            <span>Mon,</span>
            <span>30,Apr</span>
            <span>2018,</span>
          </p>
        </div>
        <div>
          <label>Delta airlines</label>
          <p>0D-2010</p>
        </div>
        <div>
          <label>12:30
            <span>maa</span>
          </label>
          <p>
            <span>Mon,</span>
            <span>30,Apr</span>
            <span>2018,</span>
          </p>
        </div>
        <div class="refund">
          <p>Non Refunable</p>
        </div>
        <div class="fareruls">
          <p>FareRules +</p>
          <div class="curve">
            <div class="shap"></div>
          </div>
        </div>
      </div>
      <div class="tip">
        <p>Tip :
          <span>Airport taxes will be refunable. please check fareruls for more details</span>
        </p>
      </div>
      <div class="travel">
        <div class=" travel_details">
          <div class="col-md-9 pad {{tab1}}">
            <div>
              <h4>Traveller Infomation</h4>
            </div>
            <div class="travel_grid  d-none ">
              <div class="round active">
                <div class="inner ">1</div>
              </div>
              <div class="round">
                <div class="inner">2</div>
              </div>
              <div class="round">
                <div class="inner">3</div>
              </div>
            </div>
            

            <form>
                <h6>Adult-1</h6>
                <div class="form-row">
                  <div class="col-md-4 col-sm-4 col-xs-12  mb-3">
                    <mat-form-field>
                      <mat-select placeholder="Tittle">
                        <mat-option value="option">Mr</mat-option>
                        <mat-option value="option">Mrs</mat-option>
                        <mat-option value="option">Miss</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput placeholder="First Name" color>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput placeholder="Last Name" color>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="p" placeholder="Date Of Birth">
                      <mat-datepicker-toggle matSuffix [for]="p"></mat-datepicker-toggle>
                      <mat-datepicker #p></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput placeholder="Passport Number" color>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="d" placeholder="Passport Expiry Date">
                      <mat-datepicker-toggle matSuffix [for]="d"></mat-datepicker-toggle>
                      <mat-datepicker #d></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <mat-select placeholder="Visa Type (Optional)">
                        <mat-option value="option">Economy</mat-option>
                        <mat-option value="option">Busniess</mat-option>
                        <mat-option value="option">Employee</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="Pass" placeholder="Passport issuing Date">
                      <mat-datepicker-toggle matSuffix [for]="Pass"></mat-datepicker-toggle>
                      <mat-datepicker #Pass></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput placeholder="Passport Issue Country" color>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                    <mat-form-field>
                      <input matInput placeholder="Frequent Flyer No(option)" color>
                    </mat-form-field>
                  </div>
                </div>
                <div class="next_btn">
                  <button type="button" class="btn btn-default btn-rounded button">Next</button>
                </div>
              </form>
          </div>
          <div class="col-md-9 pad {{tab2}}">
              <form>
                  <div class="form-row">
                    <div class="col-md-4 col-sm-4 col-xs-12  mb-3">
                      <mat-form-field>
                        <input matInput placeholder="First Name" color>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12  mb-3">
                      <mat-form-field>
                        <input matInput placeholder="Last Name" color>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                      <mat-form-field>
                        <input matInput placeholder="Contact" color>
                      </mat-form-field>
                    </div>
                  </div>
                </form> 
          </div>
          <div class="col-md-9 pad {{tab3}}">
            <h6>Adult</h6>
            <div class="form-row">
              <div class="col-md-4 col-sm-4 col-xs-12  mb-3">
                <mat-form-field>
                  <mat-select placeholder="Tittle">
                    <mat-option value="option">Mr</mat-option>
                    <mat-option value="option">Mrs</mat-option>
                    <mat-option value="option">Miss</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput placeholder="First Name" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Last Name" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date Of Birth">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Passport Number" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="date" placeholder="Passport Expiry Date">
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <mat-select placeholder="Visa Type (Optional)">
                    <mat-option value="option">Economy</mat-option>
                    <mat-option value="option">Busniess</mat-option>
                    <mat-option value="option">Employee</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="Passport" placeholder="Passport issuing Date">
                  <mat-datepicker-toggle matSuffix [for]="Passport"></mat-datepicker-toggle>
                  <mat-datepicker #Passport></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Passport Issue Country" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Frequent Flyer No(option)" color>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3 px-0 d-none d-md-block">
            <mat-card class="traveler_infomation">
              <div class="travel_grid ">
                <div class="round active">
                  <div class="inner tab1" (click)="trvl_inf($event)">1</div>
                </div>
                <div class="round">
                  <div class="inner tab2" (click)="trvl_inf($event)">2</div>
                </div>
                <div class="round">
                  <div class="inner tab3" (click)="trvl_inf($event)">3</div>
                </div>
              </div>
              <div class="travler">
                <div>
                  <img src="../../../assets/images/travler.svg" />
                  <h6>Travelers Infomation</h6>
                  <p>Its a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
              <div class="please">
                <p>Please enter Travelers Details*</p>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="price_div sticky-top">
      <mat-card>
        <div>
          <h4>Fare Breakup</h4>
          <p>Adult
            <span>1,</span>Child
            <span>1,</span>Infant
            <span>0</span>
          </p>
        </div>
        <div class="fare">
          <table class="w-100">
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr class="d-flex justify-content-between py-2">
              <th>Total Base Fare</th>
              <th>:</th>
              <th>9090</th>
            </tr>
            <tr class="d-flex justify-content-between py-2">
              <th>Total Base Fare</th>
              <th>:</th>
              <th>9090</th>
            </tr>
            <tr class="d-flex justify-content-between py-2">
              <th>Total Base Fare</th>
              <th>:</th>
              <th>9090</th>
            </tr>
            <tr class="d-flex justify-content-between pt-2 pb-3">
              <th>Total Base Fare</th>
              <th>:</th>
              <th>9090</th>
            </tr>
          </table>
        </div>
        <div class="grand mb-4">
          <table class="w-100">
              <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr class="d-flex justify-content-between py-2">
                  <th>Grand Total</th>
                  <th>:</th>
                  <th>9090</th>
                </tr>
          </table>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-rounded button">Proceed To Pay</button>
        </div>
        <div class="text-center agree mb-5">
          <p>By Booking with webaxyz
            <br> you agree the
            <a href="">Terms and Conditions</a>
          </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
