@import '~variables.scss';
@import '~mixins.scss';
.items {
  background: #fff;
  transition: all 0.5s ease-in-out;
  &:hover {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1607843137254902);
  }
  .item {
    padding: 0 1rem;
    align-self: center;
    justify-self: center;
    h6 {
      font-size: 16px;
      font-size: 14px;
      font-family: $open_sans;
      color: rgb(38, 38, 38);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    p {
      font-size: 11px;
      font-family: $open_sans;
      color: rgb(38, 38, 38);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    &.trvl_img {
      img {
        width: 35px;
        height: 35px;
      }
      p {
        font-size: 11px;
        font-family: $ubuntu;
        color: rgb(38, 38, 38);
        line-height: 1.2;
        text-align: center;
      }
    }
    &.trvl_dur {
      h6 {
        font-size: 12px;
        font-family: $open_sans;
        color: rgb(38, 38, 38);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        &:after {
          content: '';
          background: url('../../../../assets/images/right_arrow.png');
        }
      }
      p {
        font-size: 12px;
        font-family: $open_sans;
        color: rgb(38, 38, 38); // font-weight: 300;
        line-height: 1.2;
        text-align: center;
      }
    }
    &.trvl_book_btn {
      button {
        font-size: 18px;
        font-size: 14px;
        font-family: $open_sans;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        background: $pinky-orange;
        padding: 0.50rem 2.14rem;
      }
      a {
        font-size: 12px;
        font-family: $open_sans;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        color: #f26326
      }
    }
  }
}
