@import '~variables.scss';
@import '~mixins.scss';
.items {
  background: #fff;
  transition: all 0.5s ease-in-out;
  &:hover {
    box-shadow: -15px 2px 13px -1px rgba(0, 0, 0, 0.160784);
  }
  .item {
    padding: 0 1rem;
    align-self: center;
    justify-self: center;
    h6 {
      font-size: 16px;
      font-size: 14px;
      font-family: $font_family;
      color: rgb(38, 38, 38);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    p {
      font-size: 11px;
      font-family: $font_family;
      color: rgb(38, 38, 38);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    &.trvl_img {
      img {
        width: 35px;
        height: 35px;
      }
      p {
        font-size: 11px;
        font-family: $font_family;
        color: rgb(38, 38, 38);
        line-height: 1.2;
        text-align: center;
      }
    }
    &.trvl_dur {
      h6 {
        font-size: 12px;
        font-family: $font_family;
        color: rgb(38, 38, 38);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        &:after {
          content: '';
          background: url('../../../../assets/images/right_arrow.png');
        }
      }
      p {
        font-size: 12px;
        font-family: $font_family;
        color: rgb(38, 38, 38); // font-weight: 300;
        line-height: 1.2;
        text-align: center;
      }
    }
    .refund {
      color: #9ecb3b !important;
    }
    &.trvl_book_btn {
      button {
        font-size: 18px;
        font-size: 14px;
        font-family: $font_family;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        background: $pinky-orange;
        padding: 0.50rem 2.14rem;
        white-space: nowrap;
        box-shadow: none !important;
        &:hover {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        }
      }
      a {
        font-size: 12px;
        font-family: $font_family;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        color: #f26326;
      }
    }
  }
  .bus_footer {
    font-size: 11px;
    font-weight: bold;
    p {
      transition: all .5s ease-in-out;
      &:hover {
        color: #f26326;
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: '';
        width: 0%;
        height: 2px;
        background: $pinky-orange;
        display: block;
        clear: both;
        transition: all .5s ease-in-out;
      }
      &:active {}
    }
  }
}

// modal style
.modal {
  overflow-y: auto !important;
  .modal-dialog {
    .modal-content {
      border-radius: 15px;
      .modal-header {
        padding: 1.5rem;
        border-bottom: 1px solid #e9ecef00;
        h6 {
          @include heading;
          margin: 0px;
          font-size: 22px !important;
        }
        button {}
      }
      .modal-body {
        .item {
          padding: 0 1rem;
          align-self: center;
          justify-self: center;
          h6 {
            font-size: 16px;
            font-size: 14px;
            font-family: $font_family;
            color: rgb(38, 38, 38);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
          }
          p {
            font-size: 11px;
            font-family: $font_family;
            color: rgb(38, 38, 38);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
          }
          &.trvl_img {
            img {
              width: 50px;
              height: 35px;
            }
            p {
              font-size: 11px;
              font-family: $font_family;
              color: rgb(38, 38, 38);
              line-height: 1.2;
              text-align: center;
            }
          }
          &.trvl_dur {
            h6 {
              font-size: 12px;
              font-family: $font_family;
              color: rgb(38, 38, 38);
              font-weight: bold;
              line-height: 1.2;
              text-align: center;
              &:after {
                content: '';
                background: url('../../../../assets/images/right_arrow.png');
              }
            }
            p {
              font-size: 12px;
              font-family: $font_family;
              color: rgb(38, 38, 38); // font-weight: 300;
              line-height: 1.2;
              text-align: center;
            }
          }
        }
        .modal_bus_d {
          background-color: #f5f5f5;
        }
        .mat-card {
          box-shadow: none;
          padding: 0px;
          .mat-tab-label-content {
            font-size: 18px;
            font-family: $font_family;
            color: rgb(0, 0, 0);
            line-height: 1.556;
            font-weight: 600;
          }
          .mat-ink-bar {
            background: $pinky-orange;
          }
          .tab-content {
            .bus_layout {
              width: 250px;
              border-radius: 15px;
              background: #464444;
              position: relative;
              margin: auto;
              padding-top: 10px;
              padding-bottom: 10px;
              .seat_layout {
                background: #6b5e5e;
                width: 250px;
                min-height: 100px;
                margin: auto;
              }
              .driver_seat {
                background: #746e6e;
                height: 100px;
              }
              .passenger_seat {
                background-color: #6d6262;
                padding-left: 15px;
                padding-right: 15px;

                div,ul,li{
                  margin-bottom: .5rem;
                }
              }
              .wheel_1 {
                width: 6px;
                height: 80px;
                background-color: #fff;
                position: absolute;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                left: 0;
                top:130px;
              }
              .wheel_2 {
                width: 6px;
                height: 80px;
                background-color: #fff;
                position: absolute;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                right: 0px;
                top:130px;
              }
              .wheel_3 {
                width: 6px;
                height: 80px;
                background-color: #fff;
                position: absolute;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                left: 0;
                bottom:100px;
              }
              .wheel_4 {
                width: 6px;
                height: 80px;
                background-color: #fff;
                position: absolute;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                right: 0px;
                bottom:100px
              }
            }
            .reviews {
              border: 1px dashed #ccc;
              padding: 10px;
              .user {
                h5 i {
                  color: #ed1d78;
                }
              }
              .prog_bar {
                label {
                  font-weight: bold;
                }
                .mat-progress-bar {
                  border-radius: 5px;
                  height: 8px;
                }
                .mat-progress-bar-buffer {
                  background-color: #f5f5f5;
                }
                .mat-progress-bar-background {
                  fill: #f5f5f5;
                }
                .mat-progress-bar .mat-progress-bar-element,
                .mat-progress-bar .mat-progress-bar-fill::after {
                  border-radius: 5px;
                }
              }
            }
          }
        }
        .seat_define,
        div,
        span {}
        .bd_ponts {
          background-color: #f5f5f5;
          width: 50%;
          margin: auto;
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 10px;
          .bdy_brd {
            border-bottom: 1px dashed #ccc;
            label {
              font-weight: bold;
            }
          }
          .bus_fare {
            label {
              font-weight: bold;
            }
          }
          .button {
            @include button;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      .modal-footer {
        border-top: 1px solid #e9ecef00;
        button {}
      }
    }
  }
}
