<div class="container">
  <div>
    <mat-card class="terms">
      <div class="my-3">
        <h1 class="terms_heading mb-3">Terms And Condition</h1>

      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2">Applicability of the agreement?</h3>
        <div class="">
          <ul>
            <li>
              <span>This agreement ("user agreement") incorporates the terms and conditions for Webaxyz to provide services to
                the person (s) ("the User") intending to purchase or inquiring for any products and/ or services of Webaxyz
                by using Webaxyz 's websites or using any other customer interface channels of Webaxyz which includes
                its offices, call centers, advertisements, information campaigns etc. </span>
            </li>
            <li>
              <span>Both User and Webaxyz are individually referred as 'party' to the agreement and collective referred to as
                'parties'.
              </span>
            </li>
            <li>
              <span>
                We require this information to process, fulfill and confirm your reservations and transactions and keep you informed of each
                transaction's status. If you are making a reservation for one or more travelers other than yourself, you
                must confirm and represent that each of these other travelers have agreed, in advance, that you may disclose
                their personal information to us.
              </span>

            </li>
          </ul>

        </div>
      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2">Third Party Account Information</h3>
        <ul>
          <li>
            <span>By using the Account Access service in Webaxyz's websites, the User authorizes Webaxyz and its agents to
              access third party sites, including that of Banks and other payment gateways, designated by them or on their
              behalf for retrieving requested information.</span>
          </li>
          <li>
            <span>While registering, the User will choose a password and is responsible for maintaining the confidentiality of
              the password and the account.</span>
          </li>

        </ul>

      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2"> Confidentiality</h3>
        <ul>
          <li>
            <span>Any information which is specifically mentioned by Webaxyz as Confidential shall be maintained confidentially
              by the user and shall not be disclosed unless as required by law or to serve the purpose of this agreement
              and the obligations of both the parties therein.</span>

          </li>

        </ul>

      </div>
      <div class="my-3">
        <h6 class="bold mb-2">Usage of the mobile number of the User by Webaxyz?</h6>
        <ul>
          <li>
            <span>Webaxyz may send booking confirmation & itinerary information & update the customer on the booking status and
              any further itinerary information via SMS (short messaging service) on the mobile number given by the customer
              at the time of booking.</span>
          </li>
          <li>
            <span> The customer hereby unconditionally consents such intimation via SMS by Webaxyz in accordance with the 'Do
              not disturb' guidelines of Telecom Regulatory Authority of India (TRAI) or such other authority in India and
              abroad.
            </span>
          </li>
        </ul>
      </div>

      <div class="my-3">
        <h6 class="bold mb-2">Insurance</h6>
        <ul>
          <li>
            <span>Insurance, if any provided as a part of the service/ product by Webaxyz shall be as per the terms and conditions
              of the insuring company. The User shall contact the insurance company directly for any claims or disputes and
              Webaxyz shall not provide any express or implied undertakings for acceptance of the claims by the insurance
              company.
            </span>
          </li>

        </ul>
      </div>
      <div class="my-3">
        <h6 class="bold mb-2">Trademarks</h6>
        <p>All graphics, logos, trademarks, service marks and service names used in this website are trademarks of Webaxyz
          or third parties. None of the trademarks used in this website may be used</p>
        <ul>
          <li>
            <span> In connection with any product or service that is not the product or service of the owner of the trademark,</span>
          </li>
          <li>
            <span> in any manner that is likely to cause confusion among customers, or</span>
          </li>
          <li>
            <span> In any manner that disparages or discredits the owner of the trademark.</span>
          </li>

        </ul>
      </div>
      <div class="my-3">
        <h6 class="bold mb-2">Supplier Rules and Restrictions</h6>
        <ul>
          <li>
            <span>Additional terms and conditions will apply to your reservation and purchase of travel-related goods and services
              that you select. Please read these additional terms and conditions carefully.
            </span>
          </li>
          <li>
            <span>You agree to abide by the terms and conditions of purchase imposed by any supplier with whom you elect to deal,
              including, but not limited to, payment of all amounts when due and compliance with the supplier's rules and
              restrictions regarding availability and use of fares, products, or services.
            </span>
          </li>
          <li>
            <span>You acknowledge that some suppliers offering certain services and/or activities may require you to sign their
              liability waiver prior to participating in the service and/or activity they offer.
            </span>
          </li>
          <li>
            <span>You understand that any violation of any such supplier's rules and restrictions may result in cancellation of
              your reservation(s), in your being denied access to the applicable travel product or services, in your forfeiting
              any monies paid for such reservation(s), and/or in our debiting your account for any costs we incur as a result
              of such violation.
            </span>
          </li>
        </ul>
      </div> 
    </mat-card>
  </div>
</div>
