<div class="container">
  <div class="booking_section mt-4">
    <div class="ticket_div">
      <div class="booking_head mt-4 mb-3">
        <div class="box1 d-flex align-self-center">
          <h3 class="pr-3">Review Itinerary </h3>
          <span>Penang</span>
          <span>To</span>
          <span>Kuala Lumpur</span>
          <span>Mon 30 Apr,2018 </span>



        </div>
        <div class="d-flex justify-content-end align-items-center box2s">
          <p class="mb-0">
            <a href="">Back to Flight Result</a>
          </p>
        </div>
      </div>
      <div class="ticket_body">
        <div class="py-3 d-flex ml-3">
          <div class="box">
            <div class="dots"></div>
          </div>

          <div class="pr-2">
            <img src="assets/images/bus.svg" />
          </div>
          <div>
            <h6 class="mb-0">Kallada Tours & Travels</h6>
            <p class="mb-0">VOLVO MULTI AXLE SEMI SLEEPER</p>
          </div>
        </div>
        <div class="py-3 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-1 d-flex">
            <div>
              <h6 class="mb-0">06:30</h6>
            </div>


          </div>
          <div>
            <p class="mb-0">Bangalore</p>
          </div>

        </div>
        <div class="py-3 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-1 d-flex">
            <div>
              <h6 class="mb-0">1h 55m</h6>
              <img class="img-fluid" src="https://assetscdn.paytm.com/travel/rtravel/assets/50a2b752.svg" alt="">
            </div>
          </div>
           <div>
            <p class="mb-0">Non Stop</p>
          </div>
        </div>
        <div class="py-3 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-1 d-flex">
            <div>
              <h6 class="mb-0">08:30</h6>
            </div>


          </div>
          <div>
            <p class="mb-0">Mangalore</p>
          </div>
        </div>
        <div class="py-3 refund">
          <p class="nonrefundable">Non Refunable</p>
        </div>
        <div class="py-3 fareruls">
          <p>Bus details</p>
          <div class="curve">
            <div class="shap"></div>
          </div>
        </div>
      </div>
      <div class="tip mb-4">
        <p>Tip :
          <span>Bus taxes will be refunable. please check fareruls for more details</span>
        </p>
      </div>
      <div class="travel">
        <div class=" travel_details">
          <div class="col-md-9 pad {{tab1}}">
            <div>
              <h4>Traveller Details</h4>
            </div>
            <div class="travel_grid  d-none ">
              <div class="round active">
                <div class="inner ">1</div>
              </div>
              <div class="round">
                <div class="inner">2</div>
              </div>
              <div class="round">
                <div class="inner">3</div>
              </div>
            </div>


            <form>
              <h6>Passenger</h6>
              <div class="form-row">
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <mat-select placeholder="Tittle">
                      <mat-option value="option">Mr</mat-option>
                      <mat-option value="option">Mrs</mat-option>
                      <mat-option value="option">Miss</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="First Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Last Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput [matDatepicker]="p" placeholder="Date Of Birth">
                    <mat-datepicker-toggle matSuffix [for]="p"></mat-datepicker-toggle>
                    <mat-datepicker #p></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-5  col-sm-4 col-xs-12 d-flex align-items-center justify-content-between px-3  mb-3">
                    <mat-radio-group>
                        <mat-radio-button value="1" class="mr-2">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                      </mat-radio-group>
                  </div>
             
               
                
              
                
              </div>
              <div class="next_btn">
                <button type="button" class="btn btn-default btn-rounded button">Next</button>
              </div>
            </form>
          </div>

          <div class="col-md-9 pad {{tab2}}">
            <form>
              <div class="form-row">
                <div class="col-md-4 col-sm-4 col-xs-12 px-3   mb-3">
                  <mat-form-field>
                    <input matInput placeholder="First Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Last Name" color>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                  <mat-form-field>
                    <input matInput placeholder="Contact" color>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-9 pad {{tab3}}">
            <h6>Adult</h6>
            <div class="form-row">
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <mat-select placeholder="Tittle">
                    <mat-option value="option">Mr</mat-option>
                    <mat-option value="option">Mrs</mat-option>
                    <mat-option value="option">Miss</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="First Name" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Last Name" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date Of Birth">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Passport Number" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="date" placeholder="Passport Expiry Date">
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <mat-select placeholder="Visa Type (Optional)">
                    <mat-option value="option">Economy</mat-option>
                    <mat-option value="option">Busniess</mat-option>
                    <mat-option value="option">Employee</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput [matDatepicker]="Passport" placeholder="Passport issuing Date">
                  <mat-datepicker-toggle matSuffix [for]="Passport"></mat-datepicker-toggle>
                  <mat-datepicker #Passport></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Passport Issue Country" color>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 px-3  mb-3">
                <mat-form-field>
                  <input matInput placeholder="Frequent Flyer No(option)" color>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-3 px-0 d-none d-md-block">
            <mat-card class="traveler_infomation">
              <div class="travel_grid ">
                <div class="round active">
                  <div class="inner tab1" (click)="trvl_inf($event)">1</div>
                </div>
                <div class="round">
                  <div class="inner tab2" (click)="trvl_inf($event)">2</div>
                </div>
                <div class="round">
                  <div class="inner tab3" (click)="trvl_inf($event)">3</div>
                </div>
              </div>
              <div class="travler">
                <div>
                  <img src="assets/images/travler.svg" />
                  <h6>Travelers Infomation</h6>
                  <p>Its a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
              <div class="please">
                <p>Please enter Travelers Details*</p>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="price_div sticky-top">
      <mat-card class="p-4">
        <div class="mb-4 d-flex align-items-center justify-content-between fare_breakup">
          <h4 class="mb-0">Fare Breakup</h4>
          <p class="mb-0">Adult 1, Child 1, Infant 1
          </p>
        </div>
        <div class="fare">
          <table class="w-100">

            <tr class="d-flex justify-content-between py-1">
              <td>Total Base Fare</td>
              <td>:</td>
              <td>9090</td>
            </tr>
            <tr class="d-flex justify-content-between py-1">
              <td>Total Base Fare</td>
              <td>:</td>
              <td>9090</td>
            </tr>
            <tr class="d-flex justify-content-between py-1 total">
              <td>Total Base Fare</td>
              <td>:</td>
              <td>9090</td>
            </tr>
            <tr class="d-flex justify-content-between my-4 grand py-2">
              <td>Grand Total</td>
              <!-- <td>:</td> -->
              <td>9090</td>
            </tr>
          </table>
        </div>
        <div class="grand">

        </div>
        <div class="text-center">
          <button type="button" class="btn btn-default btn-rounded button">Proceed To Pay</button>
        </div>
        <div class="text-center agree mb-5">
          <p>By Booking with webaxyz
            <br> you agree the
            <a href="">Terms and Conditions</a>
          </p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
