<div class="d-flex  justify-content-start align-items-center inputs">

  <div class="md-form col-2 input-group">
    <mat-form-field class="example-full-width">
      <input type="autocomplete" placeholder="From" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" class="bus_at">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="busopt">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-between ">
              <div class="d-flex align-items-center justify-content-between fly_city">
                <h4 class=" pr-2 mb-0">{{ option }}</h4>

              </div>
              <div>
                <i class="material-icons">
                  directions_bus
                </i>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between ">
              <div class="airport">
                <p class="mb-0">
                  <span>India</span>
                </p>
              </div>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="md-form col-0 d-flex justify-content-center align-items-center  input-group swap">
    <i class="material-icons">
      swap_horiz
    </i>
  </div>

  <div class="md-form col-2 input-group">
    <mat-form-field class="example-full-width">
      <input type="autocomplete" placeholder="To" aria-label="Number" matInput [formControl]="myControl1" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete" class="bus_at">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" class="busopt">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-between ">
              <div class="d-flex align-items-center justify-content-between fly_city">
                <h4 class=" pr-2 mb-0">{{ option }}</h4>

              </div>
              <div>
                <i class="material-icons">
                  directions_bus
                </i>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between ">
              <div class="airport">
                <p class="mb-0">
                  <span>India</span>
                </p>
              </div>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="md-form col-2 input-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker"(focus)="picker.open()" placeholder="Onward Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="md-form col-2 input-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" (focus)="picker2.open()" placeholder="Return Date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="md-form col-2 input-group">
    <mat-form-field>
      <mat-select placeholder="No of Travelers">
        <mat-option selected [value]="1">1</mat-option>
        <mat-option selected [value]="1">2</mat-option>
        <mat-option selected [value]="1">3</mat-option>
        <mat-option selected [value]="1">4+</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="md-form col-2 input-group search">
    <button type="button" class="btn mb-0 w-100 btn-rounded waves-effect primary_btn" mdbWavesEffect> Search</button>
  </div>

</div>
