<div class="d-flex  justify-content-start align-items-center inputs">

  <div class="md-form col-2 input-group">
    <mat-form-field class="example-full-width">
      <input type="autocomplete" placeholder="From" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="md-form col-0 d-flex justify-content-center align-items-center  input-group swap">
    <i class="material-icons">
      swap_horiz
    </i>
  </div>

  <div class="md-form col-2 input-group">
    <mat-form-field class="example-full-width">
      <input type="autocomplete" placeholder="To" aria-label="Number" matInput [formControl]="myControl1" [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="md-form col-2 input-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Onward Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="md-form col-2 input-group">
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Return Date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="md-form col-2 input-group search">
    <button type="button" class="btn mb-0 w-100 btn-rounded waves-effect primary_btn" mdbWavesEffect> Search</button>
  </div>

</div>
