@import '~variables.scss';
@import '~mixins.scss';

.availability {
  .section {
    .modify_search {
      display: grid; // grid-template-columns: repeat(6, 1fr);
      grid-template-columns: 72px 1fr 1fr 1fr 1fr 1fr;
      background-color: #fff;
      border-radius: 4px;
      justify-content: space-around;
      .item {
        h6 {
          font-size: 14px;
          font-family: $font_family;
          color: rgb(0, 0, 0);
          font-weight: bold;
          line-height: 1.286;
          text-align: left;
        }
        P {
          font-size: 12px;
          font-family: $font_family;
          color: rgb(0, 0, 0); // font-weight: bold;
          line-height: 1.286;
          text-align: left;
          font-weight: 400;
        }
        span {
          font-size: 12px;
          font-family: $font_family;
          color: rgb(0, 0, 0); // font-weight: bold;
          line-height: 1.286;
          text-align: left;
          font-weight: 400;
        }
        button {
          border: 2px solid #f52b64 !important;
          border-image: $pinky-orange;
          background-color: transparent !important;
          color: #000 !important;
          border-radius: 10em;
          font-size: 12px;
          font-family: $font_family; // line-height: 1.286;
          margin: auto;
        }
      }
    }
    .search_results {
      // display: grid;
      // grid-template-columns: 75px 50px auto;
      // grid-column-gap: 0.50rem;
      display: flex;
      justify-content: space-between;
      align-items: start;
      // overflow: hidden;
      transition: all 0.5s ease-in-out;
      .filter_div {
        background: #fff; // display: grid;
        // grid-template-columns: auto;
        transition: all 0.5s ease-in-out;
        border: 1px solid rgba(128, 128, 128, 0.14901960784313725);
        .item {
          cursor: pointer;
          transition: all 0.5s ease-in-out;
          box-shadow: none;
          border-bottom: 1px solid rgba(128, 128, 128, 0.14901960784313725);
          &:last-child {
            border-bottom: none;
          }
          &.active,
          &:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.0784313725490196);
          }
        }
      }
      .filter_section {
        background: #fff;
        transition: all 0.5s ease-in-out;
        .content {
          h1 {
            font-size: 1.1rem;
            color: $pinky-orange;
            font-weight: 700;
            margin: 0;
          }
          h2 {
            font-size: 1rem;
            color: #263238;
            font-weight: 500;
            margin: 0;
            margin-bottom: 16px;
          }
          p,
          mat-checkbox {
            color: #454545;
            font-size: 12px;
            font-weight: 400;
            display: block;
          }
        }
      }
      .filter_content {
        max-width: 0%; // transition: all 0.5s ease-in-out;
        padding: 0px;
        overflow: hidden;
        min-height: 344.92px;
      }
      .fil {
        max-width: 16.666%;
        transition: all 0.5s ease-in-out;
        padding: 0 15px 0 15px;
        overflow: hidden;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        min-height: 344.92px;
        overflow-y: auto;
      }
      .filter_subdiv {
        transition: all 0.5s ease-in-out;
      }
      .dest_nav {
        background: #f5f5f5;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
        grid-row-gap: 1rem;
        transition: all 0.5s ease-in-out;
        .destination {
          justify-content: space-evenly;
          .item {
            background-color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            position: relative;
            transition: all 0.5s ease-in-out;
            margin-bottom: 25px;
            p {
              font-size: 10px;
            }
            cursor: pointer;
            &:after {
              content: '';
              border: 1px dashed #d2d2d2;
              height: 100%;
              width: 1px;
              position: absolute;
              top: 40px;
            }
            &:last-child {
              &:after {
                content: none;
              }
            }
            &.success {
              
              background-color: #008000;
              color: #fff;
            }
            &.active {
              animation: pulse-shadow 1s infinite;
              @keyframes pulse-shadow {
                0% {
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5)
                }
                70% {
                  box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.5)
                }
                100% {
                  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5)
                }
              }
            }
          }
        }
      }
      .results_div {
        background: #f5f5f5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 1em;
        transition: all 0.5s ease-in-out;
        .Header {
          background: #1f3c4a;
          border-radius: 2px; // display: grid;
          // grid-template-columns: repeat(6, 1fr);
          min-height: 35px;
          .section1 {
            .col-12 {
              .col-2 {
                max-width: 20%;
                min-width: 20%;
                flex: 0 0 20%;
              }
            }
          }
          .item {
            padding: 0 1rem;
            align-self: center;
            justify-self: center;
            align-self: stretch;
            justify-self: stretch; // border: 1px solid #fff;
            background: linear-gradient(to right, #263238 50%, #263238 50%);
            p {
              font-size: 12px;
              font-family: $font_family;
              line-height: 1.2;
              text-align: center;
              font-weight: bold;
              color: #fff;
            }
          }
        }
        .result {
          display: grid;
          grid-template-columns: 1fr; // grid-template-rows: 0.1fr;
          grid-row-gap: 0.5rem;
          &.hotelresult {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1em;
          }
          .items {
            // display: grid;
            // grid-template-columns: repeat(6, 1fr);
            background: #fff;
            box-shadow: -1px -6px 20px rgba(0, 0, 0, 0.10980392156862745);
            .item {
              padding: 0 1rem;
              align-self: center;
              justify-self: center;
              h6 {
                font-size: 16px;
                font-size: 14px;
                font-family: $font_family;
                color: rgb(38, 38, 38);
                font-weight: bold;
                line-height: 1.2;
                text-align: center;
              }
              p {
                font-size: 11px;
                font-family: $font_family;
                color: rgb(38, 38, 38);
                font-weight: bold;
                line-height: 1.2;
                text-align: center;
              }
              .image {
                img {
                  width: 35px;
                  height: 35px;
                }
                p {
                  font-size: 11px;
                  font-family: $font_family;
                  color: rgb(38, 38, 38);
                  line-height: 1.2;
                  text-align: center;
                }
              }
              .duration {
                h6 {
                  font-size: 12px;
                  font-family: $font_family;
                  color: rgb(38, 38, 38);
                  font-weight: bold;
                  line-height: 1.2;
                  text-align: center;
                  &:after {
                    content: '';
                    background: url('assets/images/right_arrow.png');
                  }
                }
                p {
                  font-size: 12px;
                  font-family: $font_family;
                  color: rgb(38, 38, 38); // font-weight: 300;
                  line-height: 1.2;
                  text-align: center;
                }
              }
              .book {
                button {
                  font-size: 18px;
                  font-size: 14px;
                  font-family: $font_family;
                  color: rgb(255, 255, 255);
                  line-height: 1.2;
                  text-align: center;
                  background: $pinky-orange;
                  padding: 0.50rem 2.14rem;
                }
                a {
                  font-size: 12px;
                  font-family: $font_family;
                  font-weight: bold;
                  line-height: 1.2;
                  text-align: center;
                  color: #f26326
                }
              }
            }
          }
        }
      }
    }
  }
}
