<div class="container">
  <div>
    <mat-card class="terms">
      <div class="my-3">
        <h1 class="terms_heading mb-3">Cancellation Policy</h1>

      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2"> Flight Cancellation Policy</h3>
        <div class="">
          <ul>
            <li>
              <span>Every booking made on Webaxyz is subject to cancellation charges levied by the airline, which may vary by
                flight and booking class.</span>
            </li>
            <li>
              <span>Some booked fares may be non-refundable as per the specific airline's policy.
              </span>
            </li>
            <li>
              <span>
                Cancellations: Cancellations can be made online by Customer Support. If user supposed to cancel the ticket who are contacted
                with admin, user cannot be cancelled the booked tickets. Admin will cancel your tickets as per the user’s
                requests.
              </span>

            </li>
            <li>
              <span>

                Only cancellation requests made online or telephonic or email (For emails travel date must be more than 48Hrs) through our
                customer support shall be entertained.
              </span>

            </li>
            <li>
              <span>
                For e-tickets, if your cancellation request is made less than 4 hours before departure, you'll need to contact the airline
                directly to get your reservation cancelled. We will not be able to provide any assistance for these cancellations.
              </span>

            </li>
            <li>
              <span>

                For e-tickets, if your cancellation request is made less than 24 hours before departure, you'll need to contact our customer
                care executive through telephone or email. The request through any other medium will not be entertained.
              </span>

            </li>
            <li>
              <span>
                If you have done a 'Web/Tele Check-in' with the airline, get in touch with the airline for cancellation. Webaxyz will not
                be able to process the refund for the same and will not take any responsibility for the same.
              </span>
            </li>

          </ul>

        </div>
      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2"> Hotel Cancellation Policy</h3>
        <ul>
          <li>
            <span>
              The Cancellation Policies of the Hotels are dynamic and may change from time to time. The Cancellation policy of the Hotel
              may change in the interim period of booking and date of stay of the Guest. The Cancellation Policy prevailing
              at the time of check in/cancellation of the booking by the Customer will be the applicable policy.</span>
          </li>
          <li>
            <span>
              Hotels being booked may have their own cancellation policy and may charge user accordingly.</span>
          </li>
          <li>
            <span>
              In the event of Cancellation the money shall be debited from your credit card directly by the Hotel as per Cancellation Policy
              of the Hotel.</span>
          </li>
          <li>
            <span> On cancellation of bookings done using promotional codes, the hotel cancellation charges are calculated on total
              price before discount.
            </span>
          </li>
          <li>
            <span>Cancellations can be done online as well through call.</span>
          </li>
          <li>
            <span>Only those cancellation requests which are made either online or on the phone to our customer support team shall
              be entertained. The Company shall not be liable to entertain any cancellation requests made directly to the
              hotel without intimating the Company and also through any other medium including, but not limited to, SMS or
              e-mail.</span>
          </li>
          <li>
            <span>If you don't show up at the hotel, you'll still be charged the entire amount and hotel will debit the amount
              from your card directly.</span>
          </li>

        </ul>

      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2"> Bus Cancellation Policy</h3>
        <ul>
          <li>
            <span>Cancellations and refunds are not allowed.</span>

          </li>

        </ul>

      </div>



    </mat-card>
  </div>
</div>
