@import '~variables.scss';
@import '~mixins.scss';
.contact_us_banner{
    background: url("/assets/images/about/2.png") no-repeat;
    background-size: cover;
    min-height: 250px;
}
.contact_us{
    background-color: #fff;
    border-radius: 10px;
    border:1px solid #ccc;
    height: 570px;
    .lft_div{
        position: relative;
    }
    .cont_div{
        background: url("/assets/images/contact.png") no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        top: 46px;
        right:45px;
        color: #fff;
        height: 475px;
        i{
            color:#fff !important;
        }
        h5{
            font-weight: bold;
        }
    }

    .send{
        @include button;
        padding: 0.6rem 2rem !important;
    }
}