<div class="contact_us_banner">
  <div class="col-8 p-5">
    <h2 class="m-5">Contact Us</h2>
    <h4 class="m-5">WEBAXYZ IT Consulting is a specialist IT services company with a strategic focus on delivering cloud, Web-based Software,
      Application, infrastructure, compliance, network and security solutions.</h4>
  </div>
</div>

<div class=" contact_us p-5">
  <div class="col-12 d-flex align-item-center justify-content-between container p-4">
    <div class="col-4">
      <div class="contact p-4 text-center ">
        <h6 class="heading my-4">Location</h6>

        <address>Webaxyz IT Consulting Pvt Ltd, #527,4th Cross, CMR Road, 2nd Block, HRBR Layout, Kalyan Nagar Post, Bengaluru-560
          043.
        </address>
        <span class="">
          <a href="Get Google Map Direction">Get Google Map Direction</a>
        </span>
        <div class="cont_icon d-flex align-items-center justify-content-center location">
          <i class="material-icons d-flex align-items-center">
            location_on
          </i>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="contact p-4 text-center">
        <h6 class="heading my-4">Our Phone</h6>
        <address>You can easily take an appointment Call us:080-4121 5977 </address>

        <span class="">
          <a href="callnow">Call Now</a>
        </span>
        <div class="cont_icon d-flex align-items-center justify-content-center phone">
          <i class="material-icons d-flex align-items-center ">
            phone
          </i>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="contact p-4 text-center">
        <h6 class="heading my-4">Our Email</h6>

        <address>Mail us for take an appointment or support@webaxyz.com </address>
        <span class="">
          <a href="support@webaxyz.com">support@webaxyz.com</a>
        </span>
        <div class="cont_icon d-flex align-items-center justify-content-center email">
          <i class="material-icons d-flex align-items-center ">
            email
          </i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 my-5">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.2360915203003!2d77.64569661425385!3d13.020632017324784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1683fb688b7b%3A0x9f64a15c2c63b179!2sWebaxyz+IT+Consulting+Private+Limited!5e0!3m2!1sen!2sin!4v1527585155502"
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="contact_us_form">
  <div class="container">
    <div class="  col-12 d-flex align-items-center justify-content-between  cont_frm">
      <div class="col-6">

      </div>

      <div class="col-6 p-4">
        <div class="">

          <div class="d-flex flex-column">
            <mat-form-field>
              <input matInput placeholder="Your Name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Enter your email" required>

            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Phone Number">
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="Your Message"></textarea>
            </mat-form-field>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-default btn-rounded waves-light theme-button send" mdbWavesEffect>Send</button>
          </div>
        </div>
      </div>



    </div>
  </div>

</div>
