@import '~variables.scss';
@import '~mixins.scss';
.flight_template {
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  border: 1px solid rgb(234, 214, 214);
  &:hover {
    box-shadow: -15px 2px 13px -1px rgba(0, 0, 0, 0.160784);
    box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.51);
  }
  .border-bottom {
    &:last-child {
      border-bottom: 0px !important;
    }
  }
  .d-flex {
    display: flex !important;
  }
  .d-none {
    display: none !important;
  }
  .section1 {
    height: 100%;
    .col-12 {
      border-bottom: 1px dashed #a2a2a2;
      &:last-child {
        border-bottom: 0px dashed #a2a2a2; // padding-bottom: 0px;
        // padding-top: 0px;
      }
      position:relative; // .col-2 {
      // max-width: 20%;
      // min-width: 20%;
      // flex: 0 0 20%; // padding: 0 1rem;
      align-self: center;
      justify-self: center;
      h6 {
        font-size: 12px;
        font-family: $font_family;
        color: rgb(38, 38, 38);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
      }
      p {
        font-size: 11px;
        font-family: $font_family;
        color: rgb(38, 38, 38);
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        &.refundable {
          color: green;
          font-weight: 700;
        }
        &.nonrefundable {
          color: red;
          font-weight: 700;
        }
      }
      .refundable {
        color: green;
        font-weight: 700;
        text-transform: capitalize;
      }
      .nonrefundable {
        color: red;
        font-weight: 700;
      }
      .trvl_img {
        position: initial;
        img {
          width: 35px;
          height: 35px;
        }
        .connecting_flights {
          position: absolute;
          bottom: 0;
          width: 100%;
          top: 100%;
          img {
            width: 12px;
            height: 12px;
          }
        }
        p {
          font-size: 11px;
          font-family: $font_family;
          color: rgb(38, 38, 38);
          line-height: 1.2;
          text-align: center;
          font-weight: 600;
          &.aircode {
            font-weight: 600;
          }
        }
        .provider {
          background: $pinky-orange;
          background: #346a86;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 1px;
          box-shadow: 9px 5px 20px rgba(108, 119, 105, 0.47058823529411764);
          p {
            color: #fff;
            font-size: 8px;
          }
        }
      }
      .departure {}
      .trvl_dur {
        position: relative;
        h6 {
          font-size: 12px;
          font-family: $font_family;
          color: rgb(38, 38, 38);
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
          &:after {
            content: '';
            background: url('/assets/images/right_arrow.png');
          }
        }
        p {
          font-size: 11px;
          font-family: $font_family;
          color: rgb(38, 38, 38); // font-weight: 300;
          line-height: 1.2;
          text-align: center;
          font-weight: 600;
        }
        .provider {
          background: $pinky-orange;
          background: #346a86;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          width: 15px;
          border-radius: 50%;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          p {
            color: #fff;
            font-size: 8px;
          }
          &.fundable {
            // width: 20px;
            // height: 20px;
            // border-radius: 25px;
            // background: gray;
            color: #fff;
            font-size: 10px;
            &.refundable {
              background: green;
            }
            &.non_refundable {
              background: red;
            }
          }
        }
        .meals_baggage {
          position: absolute;
          bottom: 20%;
          width: 100%;
        }
      } // }
    }
  }
  .section2 {
    h6 {
      font-size: 12px;
      font-family: $font_family;
      color: rgb(38, 38, 38);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    p {
      font-size: 11px;
      font-family: $font_family;
      color: rgb(38, 38, 38);
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      &.refundable {
        color: green;
        font-weight: 700;
      }
      &.nonrefundable {
        color: red;
        font-weight: 700;
      }
    }
    .fare {
      position: relative;
      .provider {
        position: absolute;
        bottom: 0;
        border-radius: 1px;
        text-align: center;
        p {
          color: #afaeaf;
          font-size: 10px;
        }
      }
      .discount {
        h6 {
          text-decoration: line-through;
          font-size: 10px;
        }
        .material-icons {
          font-size: 15px;
        }
      }
      .offer {
        // background: #ffd60d;
        background: #ffd60d url('/assets/images/price.jpg') no-repeat;
        background-size: cover;
        position: absolute;
        top: -17px;
        border-radius: 2px;
        h6 {
          font-size: 11px;
          font-family: $font_family;
          color: #263238;
          font-weight: bold;
          line-height: 1;
          text-align: center;
          padding: 3px 8px;
        }
      }
    }
    .trvl_book_btn {
      position: relative;
      button {
        @include button;
        padding: 0.4rem 1.5rem;
        margin: 0px;
        &.soldout {
          background: #d86363 !important;
          cursor: no-drop;
          color: #fff;
          white-space: nowrap;
        }
        &.selected {
          background: green !important;
        }
      }
      a {
        font-size: 10px;
        font-family: $font_family;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        color: #f26326;
        color: #212529;
      }
      .view_status {
        position: absolute;
        bottom: 0px;
        right: 0;
        line-height: 0;
        font-size: 10px;
        p {
          color: green;
          font-size: 10px;
        }
        .material-icons {
          color: green;
          font-size: 10px;
        }
      }
    }
  }
}

.more_flights {
  background: transparent url('/assets/images/more_option.png') no-repeat;
  background-size: contain;
  width: 219px;
  height: 18px;
  cursor: pointer;
  p {
    font-size: 10px;
    color: #1f3c4a;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .material-icons {
    font-size: 10px;
    cursor: pointer;
  }
}

// modal style
.modal {
  overflow-y: auto !important;
  .modal-dialog {
    .modal-content {
      border-radius: 15px;
      .modal-header {
        padding: 1rem;
        h4 {
          @include heading;
          margin: 0px;
          font-size: 16px;
          &::after {
            width: 60px;
            height: 2px;
          }
        }
        button {}
      }
      .modal-body {
        .current_item_details {
          border-bottom: 1px dashed gray;
          padding-bottom: 0.5em;
          .airline {
            h6 {
              color: #13191c;
            }
            p {
              color: #13191c;
            }
          }
          h6 {
            font-size: 14px;
            font-family: $font_family;
            color: rgb(0, 0, 0);
            font-weight: bold;
            line-height: 1.286;
            text-align: left;
          }
          P {
            font-size: 12px;
            font-family: $font_family;
            color: rgba(0, 0, 0, 0.5);
            line-height: 1.286;
            text-align: left;
            font-weight: 500;
          }
          h4 {
            font-size: 14px;
            font-family: $font_family;
            color: green;
            font-weight: bold;
            line-height: 1.286;
            text-align: left;
          }
        }
        .mat-card {
          box-shadow: none;
          padding: 0px;
          .mat-tab-label {
            height: 34px;
            opacity: 1 !important;
            .mat-tab-label-content {
              font-size: 15px;
              font-family: $font_family;
              color: rgb(0, 0, 0);
              line-height: 1.556;
              font-weight: 600;
            }
          }
          .mat-tab-label-active {
            // background-color: rgba(242, 99, 38, 0.6);
            background: $pinky-orange;
            color: #fff;
            opacity: 1 !important;
            .mat-tab-label-content {
              color: #fff;
            }
          }
          .mat-ink-bar {
            background: $pinky-orange;
          }
          .tab-content {
            .sector {
              background: #3a3b3b;
              display: inline-block;
              p {
                font-size: 11px;
                font-family: $font_family;
                color: #fff;
                line-height: 1.286;
                text-align: left;
                font-weight: 500;
                letter-spacing: 1px;
              }
            }
            h6 {
              font-size: 14px;
              font-family: $font_family;
              color: rgb(0, 0, 0);
              font-weight: bold;
              line-height: 1.286;
              text-align: left;
            }
            P {
              font-size: 12px;
              font-family: $font_family;
              color: rgba(0, 0, 0, 0.62);
              line-height: 1.286;
              text-align: left;
              font-weight: 500;
            }
            span {
              font-size: 11px;
              font-family: $font_family;
              color: rgba(0, 0, 0, 0.62);
              line-height: 1.286;
              text-align: left;
              font-weight: 500;
            }
            .Layover {
              background: #dee2e6;
            }
          }
          .mat-card-content {
            .multiple_fares {
              .fares {
                .select {
                  transition: all 0.5s ease-in-out;
                  &:hover {
                    box-shadow: 0px 0px 20px gray;
                    transition: all 0.5s ease-in-out;
                  }
                  &.selected {
                    box-shadow: 0px 0px 20px gray;
                    transition: all 0.5s ease-in-out;
                  }
                  h6 {
                    font-size: 14px;
                    font-family: $font_family;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    line-height: 1.286;
                  }
                  table {
                    th {
                      font-size: 14px;
                      font-family: $font_family;
                      color: #000;
                      font-weight: bold;
                      line-height: 1.286;
                      border: none;
                    }
                    td {
                      font-size: 12px;
                      font-weight: 500;
                      font-family: $font_family;
                      &.refundable,
                      &.changeable {
                        color: green;
                        text-transform: capitalize;
                      }
                      &.nonrefundable,
                      &.nonchangeable {
                        color: red;
                        text-transform: capitalize;
                      }
                    }
                  }
                  .select {
                    color: #fff;
                    background: $pinky-orange;
                    padding: 0.4rem 1rem;
                    border-radius: 25px;
                    &.selected {
                      background: green;
                    }
                  }
                }
                p {
                  color: #1f3c4a;
                  font-size: 10px;
                  font-weight: 600;
                  cursor: pointer;
                }
              }
            }
            .fare_summary {
              p {
                font-weight: 500;
                color: #000;
                span {
                  color: #1f3c4a;
                  font-size: 14px;
                }
              }
            }
            .fare_rules {
              table {
                tbody {
                  tr {
                    th {
                      font-weight: 600;
                    }
                    td {
                      padding: 10px;
                      &:last-child {
                        div {
                          max-height: 100px;
                          overflow: auto;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .baggage_policy thead {
          background: #1f3c4a;
          th {
            color: #fff;
          }
        }
        table.table-sm thead {
          background: #1f3c4a;
        }
        table.table-sm th {
          font-size: 12px;
          font-weight: 600;
          font-family: $font_family;
          color: #fff;
        }
        table.table-sm td {
          font-size: 12px;
          font-weight: 500;
          font-family: $font_family;
        }
        span {
          font-size: 11px;
          font-family: $font_family;
          color: rgba(0, 0, 0, 0.42);
          text-align: left;
          font-weight: 500;
        }
      }
      .modal-footer {
        button {
          &.yes {
            background: #f73855 !important;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            .material-icons {
              font-size: 16px;
              color: #fff;
            }
          }
          &.no {
            background: #1f3c4a !important;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            .material-icons {
              font-size: 16px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.fundable:hover>.tol-tip {
  display: block;
}

.slide-down {
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  overflow-y: hidden;
}

// .slideOutUp {
//   height: 0% !important;
//   transition: all 0.5s ease-in-out;
//   visibility: hidden;
// }
// .slideInDown {
//   height: 100% !important;
//   transition: all 0.5s ease-in-out;
// }
