<div class="section">
  <mat-card class="faq">
    <h2>Frequently Asked Questions</h2>
    <div>
      <h3 class="faq_heading">Registration</h3>
      <ul>
        <li>
          <p>
            How do I register with Webaxyz?
          </p>
          <p>If you want to register now, please click here. If you want to continue booking as a guest user, we will send you
            your temporary registration/login details by email.</p>
        </li>
        <li>
          <p>
            Why should I register with Webaxyz?
          </p>
          <p>While you can book on Webaxyz.com as a guest user, we recommend you to register with us to make the process faster
            and more convenient. You won’t have to spend time typing your details every time to make a booking. You will
            also get priority access to our travel deals by email, before anyone else.</p>
        </li>
        <li>
          <p>
            How I change my password?
          </p>
          <p>Go to My Bookings and sign in to your account. In ‘My Profile’, click ‘Change Password’ and reset your password.</p>
        </li>
        <li>
          <p>
            How do I sign in to my account if I forget my password?
          </p>
          <p>If you’ve forgotten your password, go to My Bookings on Webaxyz.com. Click ‘Forgot Password’, provide your email
            address and we’ll send you an email with instructions.</p>
        </li>
        <li>
          <p>
            How do I edit my account information?
          </p>
          <p>Sign in to your account from the My Bookings section. Go to ‘My Profile’ and change or add more details.</p>
        </li>
        <li>
          <p>
            Can I speak to someone in Customer Support?
          </p>
          <p>Webaxyz offers 24x7 customer support. You can call us and also write to our customer support team and someone will
            get back to you within 4 hours of your inquiry.</p>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="faq_heading"> Payment Options</h3>
      <div class="">
        <ul>
          <li>
            <p>
              What payment options does Webaxyz have?
            </p>
            <p>Currently we accept payments using credit cards, debits cards, net bankings and cash cards.</p>
          </li>
          <li>
            <p>

              How do I know that my credit card/debit card information is safe on your site?
            </p>
            <p>Webaxyz is a VeriSign Secure Site. Any information you enter when transacting over Webaxyz is sent in a Secure
              Socket Layer (SSL) session and is encrypted to protect you against unintentional information disclosure to
              third parties. You will notice that when you move from the passenger information page to the payment page,
              the url changes from http:// to https://. This shows that you are now on a secure channel. and we are not capturing
              user's card details at our end.</p>
          </li>
          <li>
            <p>
              What Is the Card Verification Number (CVV) on my credit card?
            </p>
            <p>The Security Code is an important new security feature established by credit card companies in an attempt to
              further reduce the risk of Internet fraud. This number never appears on sales receipts or billing statements
              and it is only found on the card itself. The cardholder is required to enter the code number at the time of
              the transaction to verify that the card is in their possession.</p>
          </li>
          <li>
            <p>
              Where is the Card Verification Number (CVV) located on my credit card?
            </p>
            <p>Visa/MasterCard: Three-digit code after the last four digits of your credit card number on the back of the card
              within the signature field. American Express: Four-digit number on the front of the card on the right hand
              side above the card number.</p>
          </li>
          <li>
            <p>
              Under what name will my purchase be charged on the credit card statement?
            </p>
            <p>Your purchase will be charged under WEBAXYZ (M) SDN. BHD.</p>
          </li>

        </ul>
      </div>
    </div>
    <div>
      <h3 class="faq_heading"> Bookings</h3>
      <ul>
        <li>
          <p>

            How do I know my ticket was booked?
          </p>
          <p>You will receive an SMS and email on confirmation of your booking with tripzeazy.</p>
        </li>
        <li>
          <p>
            Do I need to confirm my reservation?
          </p>
          <p>There is no need to confirm your reservation. If you need any information, you can login to My Bookings or call
            our customer service team with PNR.</p>
        </li>
        <li>
          <p>
            Do I need to re-confirm my booking before departure?
          </p>
          <p>It is not necessary to re-confirm your booking.

          </p>
        </li>
        <li>
          <p>
            How do I confirm my seat assignments in flight booking?
          </p>
          <p>This facility is available only for frequent fliers and business class passengers, otherwise you can request for
            seats at the check-in counter.</p>
        </li>
        <li>
          <p>
            Is there a cancellation policy for flights booked on Webaxyz?
          </p>
          <p>Each airline has different cancellation charges. They are mentioned on the booking page at the time of making reservation.
            Check the Fare Rules for the booking to get complete information about the airline's cancellation policy. Over
            and above the airlines cancellation charges, tripzeazy charges MYR. 30 as standard cancellation charges for bookings
            cancelled through our call center. If you choose to cancel a flight booking online, the standard cancellation
            charge will be only MYR. 20.</p>
        </li>
        <li>
          <p>
            Is there a cancellation policy for flights booked on Webaxyz?
          </p>
          <p>Each airline has different cancellation charges. They are mentioned on the booking page at the time of making reservation.
            Check the Fare Rules for the booking to get complete information about the airline's cancellation policy. Over
            and above the airlines cancellation charges, tripzeazy charges MYR. 30 as standard cancellation charges for bookings
            cancelled through our call center. If you choose to cancel a flight booking online, the standard cancellation
            charge will be only MYR. 20.</p>
        </li>
        <li>
          <p>

            How do I cancel a reservation?
          </p>
          <p>Bookings made on tripzeazy can be cancelled on online or offline. Offline Cancellation: You can cancel bookings
            by calling our 24x7 Customer care number. Online Cancellation: For the first time in Malaysia, tripzeazy has
            introduced online cancellation of bookings. To cancel any bookings, log into the My Bookings section from the
            tripzeazy.com homepage. Select services and then, click the upcoming links from the left menu, this will display
            your complete upcoming booking history with tripzeazy.com. Click the tripzeazy Reference Number for the booking
            you wish to cancel and click the cancel button. You will be asked to review and confirm the details before final
            cancellation. Online cancellation will be processed within 12 hours.</p>
        </li>
        <li>
          <p>
           How do I amend a flight reservation?
          </p>
          <p>Please contact our customer service center at +60 3-4265 4265 .</p>
        </li>
      </ul>
    </div>
  </mat-card>
</div>
<button type="button" class="btn btn-primary relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button>

<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" class="btn btn-primary relative waves-light" mdbWavesEffect>Save changes</button>
            </div>
        </div>
    </div>
</div>
            