<div class="d-flex  justify-content-center align-items-center flight_template">
  <div class="col-12 px-0 d-flex justify-content-center align-items-stretch ">
    <div class="col-10 px-0 d-flex flex-column justify-content-center align-items-center section1">
      <div class="col-12 px-0 d-flex justify-content-center align-items-stretch ">
        <div class="col-2 py-3  d-flex justify-content-center align-items-center  trvl_img">
          <div class="pr-0">
            <img class="img-fluid" src="../../../assets/images/delta_airlines.gif" alt="Delata Airlines Image">
          </div>
          <div>
            <h6 class="mb-1">Delta Air Lines</h6>
            <p class="mb-0 aircode">AI-9506</p>
          </div>


        </div>
        <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center departure">
          <div class="mb-1 d-flex">
            <h6 class="mb-0 mr-1">AGX</h6>
            <h6 class="mb-0">10:30 </h6>
          </div>
          <div>
            <p class="mb-0">Fri 18 may</p>
          </div>


        </div>
        <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center trvl_dur">
          <h6 class="mb-0">1h 55m</h6>
          <img class="img-fluid" src="https://paytm.com/travel/images/flights/srp_arrow.svg" alt="arrow">
          <p class="mb-0">Non Stop</p>

          <div class="provider fundable refundable">
            R
          </div>

        </div>
        <div class="col-2 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-1 d-flex">
            <h6 class="mb-0 mr-1">AGX</h6>
            <h6 class="mb-0">
              10:30 </h6>
          </div>
          <div>
            <p class="mb-0">Fri 18 may</p>
          </div>
        </div>
        <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center fare">
          <!-- <h6 class="mb-1">INR.8908</h6> -->
          <!-- <p class="mb-0 refundable">Refundable </p> -->
          <!-- <div class="tooltipdd">
            Hover over me
            <span class="tooltiptext">Tooltip text</span>
          </div> -->
          <!-- <div class="p-1 provider waves-light" mdbWavesEffect>
            <p class="mb-0">Fare Details</p>
          </div> -->
          <div class="discount">
            <h6 class="mb-0">INR 9612</h6>
            <div class="d-flex justify-content-center align-items-center">
              <i class="material-icons">
                airline_seat_recline_extra
              </i>
              <p class="mb-0">9 Seats</p>
            </div>

          </div>
          <div class="offer d-flex justify-content-center align-items-center p-1">
            <h6 class="mb-0">INR 9600</h6>
          </div>

        </div>
      </div>
    </div>
    <div class="col-2 py-3 px-0 d-flex flex-column justify-content-center align-items-center item section2 ">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center trvl_book_btn">
        <button type="button" class="btn  btn-rounded waves-light mb-1" mdbWavesEffect>Book</button>
        <a href="javascript:void(0)" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show()"
          mdbWavesEffect>Flight Details</a>
      </div>
    </div>
  </div>
</div>



<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Flight Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="mb-3 d-flex justify-content-between align-items-center current_item_details">
          <div class="d-flex flex-column justify-content-center align-items-start">

            <h6 class="mb-0">New Delhi -> Mumbai</h6>
            <p class="mb-0">Tue, 22may | 19h 15m | Non Stop</p>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-end">
            <h4 class="mb-0">
              $6,861
            </h4>
            <p class="mb-0">(Per Adult)</p>
          </div>
        </div>
        <mat-card>
          <mat-card-content>
            <!-- <h2 class="example-h2">Flight Detailss</h2> -->
            <mat-tab-group class="demo-tab-group">
              <mat-tab label="Flight Itinerary">


                <div class="tab-content py-4">
                  <div class="col-12 px-0 d-flex flex-column">
                    <div class="col-12 py-2 px-0 d-flex justify-content-center align-items-center border">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-stretch border-right">
                        <div class="d-flex justify-content-center align-items-center">
                          <div>
                            <img src="../../../../assets/images/flight.svg" alt="" class="img-fluid">
                          </div>
                          <div>
                            <h6>SpicejJet</h6>
                            <p class="mb-0">SG - 159</p>
                            <span class="mb-0">Operated by spicejet</span>
                          </div>
                        </div>


                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6>New Delhi (DEL)</h6>
                        <p class="mb-0">Tue, 22 may, 21:35</p>
                        <span class="mb-0">Indira Gandhi - T - ID</span>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6> 2h 15m | Nonstop </h6>
                        <img class="img-fluid" src="../../../../assets/images/air_Loader1.gif" alt="">
                        <div>

                        </div>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6>Mumabia (BOM)</h6>
                        <p class="mb-0">Tue, 22 may, 23:50</p>
                        <span class="mb-0">Chatrpathi Shivaji - T - 1</span>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                      <div class="col-8 d-flex justify-content-center align-items-center border Layover">
                        <i class="material-icons pr-2">
                          airline_seat_individual_suite
                        </i>
                        <p class="mb-0"> Layover: Toronto (YYZ) - 17h 042m</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0 d-flex flex-column">
                    <div class="col-12 py-2 px-0 d-flex justify-content-center align-items-center border">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-stretch border-right">
                        <div class="d-flex justify-content-center align-items-center">
                          <div>
                            <img src="../../../../assets/images/flight.svg" alt="" class="img-fluid">
                          </div>
                          <div>
                            <h6>SpicejJet</h6>
                            <p class="mb-0">SG - 159</p>
                            <span class="mb-0">Operated by spicejet</span>
                          </div>
                        </div>


                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6>New Delhi (DEL)</h6>
                        <p class="mb-0">Tue, 22 may, 21:35</p>
                        <span class="mb-0">Indira Gandhi - T - ID</span>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6> 2h 15m | Nonstop </h6>
                        <img class="img-fluid" src="../../../../assets/images/air_Loader1.gif" alt="">
                        <div>

                        </div>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6>Mumabia (BOM)</h6>
                        <p class="mb-0">Tue, 22 may, 23:50</p>
                        <span class="mb-0">Chatrpathi Shivaji - T - 1</span>
                      </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                      <div class="col-8 d-flex justify-content-center align-items-center border Layover">
                        <i class="material-icons">
                          directions_run
                        </i>
                        <p class="mb-0"> Layover: Toronto (YYZ) - 42m</p>

                      </div>
                    </div>
                  </div>
                  <div class="col-12 px-0 d-flex flex-column">
                    <div class="col-12 py-2 px-0 d-flex justify-content-center align-items-center border">
                      <div class="col-3 d-flex flex-column justify-content-center align-items-stretch border-right">
                        <div class="d-flex justify-content-center align-items-center">
                          <div>
                            <img src="../../../../assets/images/flight.svg" alt="" class="img-fluid">
                          </div>
                          <div>
                            <h6>SpicejJet</h6>
                            <p class="mb-0">SG - 159</p>
                            <span class="mb-0">Operated by spicejet</span>
                          </div>
                        </div>


                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6>New Delhi (DEL)</h6>
                        <p class="mb-0">Tue, 22 may, 21:35</p>
                        <span class="mb-0">Indira Gandhi - T - ID</span>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6> 2h 15m | Nonstop </h6>
                        <img class="img-fluid" src="../../../../assets/images/air_Loader1.gif" alt="">
                        <div>

                        </div>
                      </div>
                      <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                        <h6>Mumabia (BOM)</h6>
                        <p class="mb-0">Tue, 22 may, 23:50</p>
                        <span class="mb-0">Chatrpathi Shivaji - T - 1</span>
                      </div>
                    </div>
                    <!-- <div class="col-12 d-flex justify-content-center align-items-center">
                      <div class="col-8 d-flex justify-content-center align-items-center border Layover">
                        <i class="material-icons pr-2">
                          airline_seat_individual_suite
                        </i>
                        <p class="mb-0"> Layover: Toronto (YYZ) - 17h 042m</p>

                      </div>
                    </div>-->
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Fare Summary & Rules">
                <div class="col-12 d-flex justify-content-between align-items-start">
                  <div class="col-6">

                    <table class="table table-striped table-bordered table-sm mt-3 mb-0">
                      <thead>
                        <tr>
                          <th>Sl no</th>
                          <th>Item</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Fare Summary</td>
                          <td>ADT * 1</td>

                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Base fare</td>
                          <td>$ 6,225</td>

                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Airlinr fuel surcharges</td>
                          <td>$ 636</td>

                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Total</td>
                          <td>$6861</td>
                        </tr>
                      </tbody>
                    </table>
                    <span>* Total fare displayed above has been rounded off and may thus show a slight difference</span>

                  </div>
                  <div class="col-6">

                    <table class="table table-sm my-3 table-bordered">
                      <thead>
                        <tr>

                          <th>Fare Rules</th>
                          <th></th>

                        </tr>
                      </thead>
                      <tbody>

                        <tr>
                          <td>Airline</td>
                          <td>Spice Jet</td>
                        </tr>

                        <tr>
                          <td>Fare Basis Code </td>
                          <td>xxxx</td>
                        </tr>

                        <tr>
                          <td>Refund Type</td>
                          <td>Refundable</td>
                        </tr>

                        <tr>
                          <td>Airline Cancellation Fee</td>
                          <td>$400</td>
                        </tr>
                        <tr>
                          <td>Webaxyz online Cancellation Fee</td>
                          <td>$300</td>
                        </tr>
                        <tr>
                          <td>Rescheduling </td>
                          <td>$300</td>
                        </tr>
                        <tr>
                          <td>Offline Fee </td>
                          <td>$300</td>
                        </tr>
                        <tr>
                          <td>Cancellation Policy </td>
                          <td>Lorem ipsum dolor sit amet.</td>
                        </tr>
                        <tr>
                          <td>Re-issuance </td>
                          <td>Lorem ipsum dolor sit amet.</td>
                        </tr>

                      </tbody>
                    </table>

                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Baggage Policy">
                Baggage
              </mat-tab>
              <mat-tab label="Cancellation Policy">
                <div class="my-3  demo-tab-content">
                  <table class="table table-bordered">
                    <thead>
                      <th></th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Airline Cancellation Charges</td>
                        <td>As per airline policy. Paytm doesn't change any additional cancellation processing fee.</td>
                      </tr>
                      <tr>
                        <td>Direct Cancellation with Airline</td>
                        <td>Post Cancellation with airline, Please contact paytm customer care for refund</td>
                      </tr>
                      <tr>
                        <td>Booking Modifications</td>
                        <td>Date/Flight change is allowed upto 24hrs before depature as per airline policy. Contact our paytm
                          flights customer care - 99</td>
                      </tr>
                      <tr>
                        <td>Terms & Conditions</td>
                        <td>
                          <ul>
                            <li>We accept cancellation, only before 24Hrs from depature time</li>
                            <li>For cancellations, within 24 hours before depature you need to contact the airline. Post cancellation
                              by airline, you can contact paytm for refund, if any</li>
                            <li>Convenience fee is non-refundable. Any cashback availed will be adjusted in final amount</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </mat-tab>

            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm yes waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbWavesEffect>Yes</button>
        <button type="button" class="btn btn-secondary btn-sm no waves-light" mdbWavesEffect>No</button>
      </div>

    </div>
  </div>
</div>
