<div class="d-flex  justify-content-center align-items-center flight_template">
  <div class="col-12 px-0 d-flex justify-content-center align-items-stretch ">
    <div class="col-10 px-0 d-flex flex-column justify-content-center align-items-center section1">
      <div class="col-12 px-0 d-flex justify-content-center align-items-stretch ">
        <div class="col-2 py-3  d-flex justify-content-center align-items-center  trvl_img">
          <div class="pr-0">
            <img class="img-fluid" src="../../../assets/images/delta_airlines.gif" alt="Delata Airlines Image">
          </div>
          <div>
            <h6 class="mb-1">Delta Air Lines</h6>
            <p class="mb-0 aircode">AI-9506</p>
          </div>

          <div class="p-1 provider waves-light" mdbWavesEffect>
            <p class="mb-0">1G</p>
          </div>
        </div>
        <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center departure">
          <div class="mb-1 d-flex">
            <h6 class="mb-0 mr-1">AGX</h6>
            <h6 class="mb-0">10:30 </h6>
          </div>
          <div>
            <p class="mb-0">Fri 18 may</p>
          </div>


        </div>
        <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center trvl_dur">
          <h6 class="mb-0">1h 55m</h6>
          <img class="img-fluid" src="https://paytm.com/travel/images/flights/srp_arrow.svg" alt="arrow">
          <p class="mb-0">Non Stop</p>
        </div>
        <div class="col-2 d-flex flex-column justify-content-center align-items-center">
          <div class="mb-1 d-flex">
            <h6 class="mb-0 mr-1">AGX</h6>
            <h6 class="mb-0">
              10:30 </h6>
          </div>
          <div>
            <p class="mb-0">Fri 18 may</p>
          </div>
        </div>
        <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center fare">
          <!-- <h6 class="mb-1">INR.8908</h6> -->
          <!-- <p class="mb-0 refundable">Refundable </p> -->
          <!-- <div class="tooltipdd">
            Hover over me
            <span class="tooltiptext">Tooltip text</span>
          </div> -->
          <!-- <div class="p-1 provider waves-light" mdbWavesEffect>
            <p class="mb-0">Fare Details</p>
          </div> -->
          <div class="discount">
            <div class="d-flex flex-column style-1">
              <del>
                <span class="amount">INR 9000</span>
              </del>
              <ins>
                <span class="amount">INR 8908</span>
              </ins>
            </div>
          </div>
          <div class="d-flex justify-content-around align-items-center provider box">
            <div class="mr-1 d-flex justify-content-center align-items-center waves-light fund refundable" mdbWavesEffect>
              <p class="mb-0">R</p>
            </div>
            <div class="mr-1 d-flex justify-content-center align-items-center waves-light details" mdbWavesEffect>
              <p class="mb-0">F</p>
            </div>
            <div class="d-flex justify-content-center align-items-center waves-light stops" mdbWavesEffect>
              <p class="mb-0">S</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 py-3 px-0 d-flex flex-column justify-content-center align-items-center item section2 ">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center trvl_book_btn">
        <button type="button" class="btn  btn-rounded waves-light mb-1" mdbWavesEffect>Book</button>
        <a href="javascript:void(0)" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="demoBasic.show()"
          mdbWavesEffect>Flight Details</a>
      </div>
    </div>

  </div>
</div>

<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Flight Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <mat-card>
          <mat-card-content>
            <!-- <h2 class="example-h2">Flight Detailss</h2> -->
            <mat-tab-group class="demo-tab-group">
              <mat-tab label="Flight Itinerary">
                <div class="tab-content py-4">
                  <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eligendi a quo nisi. Odio ipsa dolore
                    hic temporibus molestiae, minus possimus quaerat ullam rerum fuga esse enim. Impedit, repellendus perferendis?</p>
                </div>
              </mat-tab>
              <mat-tab label="Cancellation Policy">
                <div class="demo-tab-content">
                  <table class="table table-bordered">
                    <thead>
                      <th></th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Airline Cancellation Charges</td>
                        <td>As per airline policy. Paytm doesn't change any additional cancellation processing fee.</td>
                      </tr>
                      <tr>
                        <td>Direct Cancellation with Airline</td>
                        <td>Post Cancellation with airline, Please contact paytm customer care for refund</td>
                      </tr>
                      <tr>
                        <td>Booking Modifications</td>
                        <td>Date/Flight change is allowed upto 24hrs before depature as per airline policy. Contact our paytm
                          flights customer care - 99</td>
                      </tr>
                      <tr>
                        <td>Terms & Conditions</td>
                        <td>
                          <ul>
                            <li>We accept cancellation, only before 24Hrs from depature time</li>
                            <li>For cancellations, within 24 hours before depature you need to contact the airline. Post cancellation
                              by airline, you can contact paytm for refund, if any</li>
                            <li>Convenience fee is non-refundable. Any cashback availed will be adjusted in final amount</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </mat-tab>
              <mat-tab label="Baggage Policy">
                No content
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbWavesEffect>Close</button>

      </div>

    </div>
  </div>
</div>
