@import '~variables.scss';
@import '~mixins.scss';
.flight_template {
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  &:hover {
    box-shadow: -15px 2px 13px -1px rgba(0, 0, 0, 0.160784);
  }
  .section1 {
    .col-12 {
      border-bottom: 1px dashed #a2a2a2;
      padding-top: 16px;
      padding-bottom: 16px;
      &:last-child {
        border-bottom: 0px dashed #a2a2a2; // padding-bottom: 0px;
        // padding-top: 0px;
      }
      .col-2 {
        max-width: 20%;
        min-width: 20%;
        flex: 0 0 20%; // padding: 0 1rem;
        align-self: center;
        justify-self: center;
        h6 {
          font-size: 16px;
          font-size: 14px;
          font-family: $open_sans;
          color: rgb(38, 38, 38);
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
        }
        p {
          font-size: 11px;
          font-family: $open_sans;
          color: rgb(38, 38, 38);
          font-weight: bold;
          line-height: 1.2;
          text-align: center;
        }
        &.trvl_img {
          img {
            width: 35px;
            height: 35px;
          }
          p {
            font-size: 11px;
            font-family: $open_sans;
            color: rgb(38, 38, 38);
            line-height: 1.2;
            text-align: center;
            font-weight: bold;
          }
        }
        &.trvl_dur {
          h6 {
            font-size: 12px;
            font-family: $open_sans;
            color: rgb(38, 38, 38);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
            &:after {
              content: '';
              background: url('../../../../assets/images/right_arrow.png');
            }
          }
          p {
            font-size: 12px;
            font-family: $open_sans;
            color: rgb(38, 38, 38); // font-weight: 300;
            line-height: 1.2;
            text-align: center;
          }
        }
      }
    }
  }
  .section2 {
    .trvl_book_btn {
      button {
        @include button_2;
      }
      a {
        font-size: 12px;
        font-family: $open_sans;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        color: #f26326
      }
    }
  }
}

// modal style
.modal {
  .modal-dialog {
    .modal-content {
      border-radius: 15px;
      .modal-header {
        padding: 1.5rem;
        h4 {
          @include heading;
          margin: 0px;
        }
        button {}
      }
      .modal-body {
        .mat-card {
          box-shadow: none;
          padding: 0px;
          .mat-tab-label-content {
            font-size: 18px;
            font-family: $open_sans;
            color: rgb(0, 0, 0);
            line-height: 1.556;
            font-weight: 600;
          }
          .mat-ink-bar {
            background: $pinky-orange;
          }
          .tab-content {
            p {}
            table {
              tr {
                td {
                  ul {
                    li {}
                  }
                }
              }
            }
          }
        }
      }
      .modal-footer {
        button {}
      }
    }
  }
}
