<div class="container">
  <div>
    <mat-card class="terms">
      <div class="my-3">
        <h1 class="terms_heading mb-3">Refund Policy</h1>

      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2"> Flight Refund Policy</h3>
        <div class="">
          <ul>
            <li>
              <span>It is mandatory to contact Webaxyz for all refunds, as the airline will not be able to refund your tickets
                booked at Webaxyz.com.</span>
            </li>
            <li>
              <span>All cancellations made directly with the Airline need to be intimated to Webaxyz by Email or Phone in order
                to initiate the refunds process.
              </span>
            </li>
            <li>
              <span>
                Processing times for cancellation and refund requests vary.
              </span>

            </li>
            <li>
              <span>

                The refund will be credited back to the same account from where the payment was made. For example, if the User used a credit
                card, Company will make an appropriate charge reversal. If the User used a debit card, Company will credit
                the money back to the debit card.
              </span>

            </li>
            <li>
              <span>
                On the event of cancellation and refund of partially utilized tickets upfront discount and promo code discount availed at
                the time of booking would be deducted from the refund amount.
              </span>

            </li>
            <li>
              <span>
                In case, where the user has cancelled his/her booking directly with the airlines, he/she will need to inform Company with
                valid documentation to initiate the refund process. It is advisable to contact Company within 48 hours of
                the cancellation request.
              </span>

            </li>
            <li>
              <span>
                The meal amount is non-refundable. (Refundable only if the flight is cancelled by the airlines)
              </span>
            </li>
            <li>
              <span>
                Company will be able to initiate customer's refund only after receipt and/or confirmation of refund from the airline.
              </span>
            </li>
          </ul>

        </div>
      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2"> Hotel Refund Policy</h3>
        <ul>
          <li>
            <span>The company do not accept amendment request to the hotel reservation if the check in is within 48 Hours.</span>
          </li>
          <li>
            <span>
              All the refunds shall be done by the Hotel directly to you and the Company is not responsible to ensuring any refunds whatsoever.</span>
          </li>
          <li>
            <span>
              The Company doesn't support changes and modifications to online bookings once they're made.</span>
          </li>
          <li>
            <span>
              Your bank may debit its own separate charges from refunds made to your credit card or bank account.</span>
          </li>
        </ul>
      </div>
      <div class="my-3">
        <h3 class="aboutus_heading mb-2"> Bus Cancellation Policy</h3>
        <ul>
          <li>
            <span>Cancellations and refunds are not allowed.</span>
          </li>
        </ul>
      </div>
    </mat-card>
  </div>
</div>
