<div class="banner">
  <div class="container">
    <mat-card>
      <div class="srch-bnr">
        <!-- <div class="text-center hl-no">
        <h3>Help Line</h3>
        <p>000-000-000</p>
      </div>
      <div>
        <p class="d-text">
          fly with
          <span class="webxyz">Webaxyz.com</span>
          <span>Lorem Ipsum</span> is simply dummy text of the printing and type setting industry
        </p>
      </div> -->
      </div>
    </mat-card>
    <mat-tab-group class="main-srch">
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/images/flight.svg ">
          <!-- <p>flight</p> -->
        </ng-template>

        <app-flight-form></app-flight-form>
        <!-- <div class="d-flex animated d-none {{slidePassangers}}">
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut similique recusandae exercitationem illum aliquid doloribus
            eius molestiae accusantium numquam soluta, porro, distinctio rem? Quam esse delectus, nisi, ratione quisquam
            velit incidunt porro corrupti ut eius facilis ullam placeat sapiente. Dolore quos suscipit pariatur vel adipisci
            molestias dolor saepe quo exercitationem.</p>
        </div> -->
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/images/bus.svg ">
        </ng-template>
        <app-bus-form></app-bus-form>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/images/hotel.svg">
        </ng-template>
        <app-hotel-form></app-hotel-form>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/images/holiday.svg">
        </ng-template>
        Holidays Coming Soon.......
      </mat-tab>

    </mat-tab-group>

  </div>
</div>


<div class="container features">
  <h2 class="heading">Webaxyz Features</h2>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid mb-4" src="assets/images/sec-a.png">
        <h4>Manage your Money</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iure quasi aut fugiat soluta eius recusandae odio
          quo quaerat consequatur consectetur esse.</p>
      </div>
      <div class="col-md-4">
        <img class="img-fluid mb-4" src="assets/images/sec-b.png">
        <h4>Secure Payment</h4>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iure quasi aut fugiat soluta eius recusandae odio
          quo quaerat consequatur consectetur esse.</p>
      </div>
      <div class="col-md-4">
        <img class="img-fluid mb-4" src="assets/images/sec-c.png">
        <h4>Your Financial Report</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iure quasi aut fugiat soluta eius recusandae odio
          quo quaerat consequatur consectetur esse.</p>
      </div>
    </div>
  </div>
</div>



<div class="wide-md">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h2 class="heading">Webaxyz Mobile Template</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur tenetur sint, magnam aliquid vel qui in amet
            voluptas blanditiis et quaerat optio recusandae incidunt voluptates perferendis aspernatur culpa quidem eaque
            cumque? Aut repellat officiis perspiciatis sapiente minus autem voluptatibus reprehenderit sit soluta quasi voluptas
            amet, nemo iure molestiae. Veniam facere eveniet sapiente itaque temporibus, minima quibusdam assumenda repudiandae
            accusamus repellendus illo accusantium nostrum laborum alias atque maiores expedita odit. Earum numquam minima
            quisquam cumque corporis facere pariatur soluta consequatur cum!</p>

        </div>
        <div class="col-md-6">
          <img src="assets/images/ix.svg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wide-md-a">
  <div class="section">
    <div>
      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" [animation]="'slide'">
        <!--First slide-->
        <mdb-slide>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos esse illum perferendis, dolore architecto ratione
            error doloremque iste tempora obcaecati ea itaque quam, minima optio quo iusto ex quod aliquid!</p>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi quo optio aliquid ipsam, nostrum consectetur eum
            perferendis eligendi sunt reiciendis exercitationem totam nemo quaerat reprehenderit, illum fugiat doloribus
            voluptates nobis?</p>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio saepe ullam iusto recusandae aliquid aperiam
            eaque repellat dicta laboriosam inventore. Alias beatae fugiat doloribus dolor culpa ratione laudantium exercitationem
            id.
          </p>
        </mdb-slide>
        <!--/Third slide-->
      </mdb-carousel>
      <!--/.Carousel Wrapper-->
    </div>
  </div>
</div>



<div class="wide-md-b">
  <div class="section">
    <h2 class="heading">Our Hotels</h2>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div class="mat-card">
            <img src="assets/images/hol-a.jpeg">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <span>The city</span>
                </div>
                <div class="col-md-5">
                  <h5>17000/-</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mat-card">
            <img src="assets/images/hol-b.jpeg">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <span>Google place</span>
                </div>
                <div class="col-md-5">
                  <h5>17000/-</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mat-card">
            <img src="assets/images/hol-c.jpeg">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <span>Some place</span>
                </div>
                <div class="col-md-5">
                  <h5>16500/-</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mat-card">
            <img src="assets/images/hol-d.jpeg">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-7">
                  <span>Other place</span>
                </div>
                <div class="col-md-5">
                  <h5>13500/-</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
