@import '~variables.scss';
@import '~mixins.scss';
.banner {
  background-image: url('/assets/images/banner-img-a.svg'); // background-image: url('/assets/images/HomeBackgroundBanner3.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh; // min-height: calc(100vh - 86px);
  .mat-card {
    padding: 0;
    position: relative;
    top: 145px;
    border-radius: 10px;
  }
  .srch-bnr {
    background-image: url('/assets/images/srch-bnr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 265px;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    color: #fff;
    .hl-no {
      margin-top: 1.5rem;
    }
    .d-text {
      margin-top: 4rem;
      font-size: 24px;
      font-weight: 200;
      line-height: 1;
      .webxyz {
        font-size: 58px;
        font-weight: 400;
      }
    }
  }
  .main-srch {
    app-flight-form {
      button.close {
        display: none !important;
      }
    }
    .mat-tab-body {
      background-color: #fff;
      min-height: 100px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .inputs {
        .input-group {
          margin-top: 1.25rem;
          position: relative;
          .mat-form-field {
            .mat-form-field-wrapper {
              .mat-form-field-flex {
                .mat-form-field-infix {
                  width: 100%;
                }
              }
            }
          }
          &.search {
            padding-bottom: 1.25em;
            .primary_btn {
              background: rgba(148, 148, 148, 0.6);
              box-shadow: none;
              transition: all 0.5s ease-in-out;
              &:hover {
                background: $pinky-orange;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
              }
            }
          }
          &.swap {
            width: 20px;
            .material-icons {
              &:hover {
                transition-duration: 1s;
                transform: rotate(180deg);
              }
            }
          }
        }
        .md-form input[type=autocomplete]:focus:not([readonly]) {
          box-shadow: none;
          border-bottom: none;
        } 
      }
      .advance_search {
        cursor: pointer;
        .material-icons {
          font-size: 16px;
          cursor: pointer;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;
        }
      }
      .mat-radio-container {
        width: 15px;
        height: 15px;
      }
      .mat-radio-outer-circle {
        height: 15px;
        width: 15px;
      }
      .mat-radio-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.125;
      }
      .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background: none;
        height: 15px;
        width: 15px;
      }
   
    }
    .mat-tab-header {
      .mat-tab-label-container {
        .mat-tab-list {
          .mat-tab-labels {
            display: inline-block;
            background-color: #fff !important;
            border-top-right-radius: 10px;
            .mat-tab-label {
              min-width: 100px;
              height: 60px;
              img {
                width: 60px;
              }
              &.mat-tab-label-active {
                // background-color: rgba(242, 99, 38, 0.6);
                background: $pinky-orange;
              }
            }
            .mat-tab-label {
              // height: 34px;
              opacity: 1 !important;
              .mat-tab-label-content {
                font-size: 15px;
                font-family: $font_family;
                color: rgb(0, 0, 0);
                line-height: 1.556;
                font-weight: 600;
              }
            }
            .mat-tab-label-active {
              // background-color: rgba(242, 99, 38, 0.6);
              background: $pinky-orange;
              color: #fff;
              opacity: 1 !important;
              .mat-tab-label-content {
                color: #fff;
              }
            }
            .mat-ink-bar {
              background: $pinky-orange;
            }
          }
        }
      }
    } // modal toggle
    .mat-tab-body-wrapper,
    .mat-tab-body,
    .mat-tab-body-content {
      overflow: hidden !important; // overflow-x: hidden !important;
    }
    &.passengerFormVisible {
      .mat-tab-body-wrapper,
      .mat-tab-body,
      .mat-tab-body-content {
        overflow: visible !important; // overflow-x: hidden !important;
      }
    }
    &.passengerFormHidden {
      .mat-tab-body-wrapper,
      .mat-tab-body,
      .mat-tab-body-content {
        overflow: hidden !important; // overflow-x: hidden !important;
      }
    }
  }
}



.wide-md {
  background-color: #fff;
  h2 {
    text-align: left;
    @include heading;
  }
  p {
    font-size: 14px;
    text-align: justify;
    font-weight: 400;
    line-height: 30px;
    font-family: $font_family;
  }
}

.wide-md-a {
  background-image: linear-gradient(to right, #0776bc, #0095c8, #00afad, #00c277, #9ecb3b);
  min-height: 150px;
  color: #fff;
  text-align: center;
  padding: 30px;
  font-family: $font_family;
}

.wide-md-b {
  margin-bottom: 30px;
  .row {
    margin-top: 10px;
  }

  h2 {
    @include heading;
    &::after {
      content: "";
     margin:auto;
  }
}
p{
  font-size: 14px;
  font-weight: 400;
}
  img {
    width: 100%;
  }
  .mat-card {
    padding: 5px;
    border-radius: 50%;
    &:hover{
    }
}
}

.fly_offer{
  .view{
    position: initial !important;
  }
  .offer{
    position: absolute;
    width: 110px;
    height: 35px;
    border-radius: 3px;
    background-color: #ed1d78;
    bottom: 140px;
    color:#fff;
    .span{
      font-weight: lighter;
      text-decoration-line: line-through;

    }
    p{
      font-weight: bold;
      font-size: 16px;
    }
  }

}




