<div class="banner">
  <div class="container">
    <mat-card>
      <div class="srch-bnr">

      </div>
    </mat-card>
    <mat-tab-group  class="main-srch {{modalToggleVisiblity}}">
    
        <mat-tab> 
          <ng-template mat-tab-label> 
         <img src='assets/images/flight.svg' > 
            <!-- <p>flight</p> -->     
         </ng-template>          
      <app-flight-form (passengerFormEvent)='modalToggleVisiblity=$event' [passengers_state]='passengers_state'></app-flight-form>      
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/images/hotel.svg" >
        </ng-template>
        <app-hotel-form (passengerFormEvent)="modalToggleVisiblity=$event" [passengers_state]="passengers_state"></app-hotel-form>

      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/images/bus.svg " >
        </ng-template>
        <app-bus-form></app-bus-form>
      </mat-tab>


      <mat-tab>
        <ng-template mat-tab-label>
          <img src="assets/images/holiday.svg" >
        </ng-template>
        Holidays Coming Soon.......
      </mat-tab>

    </mat-tab-group>

  </div>
</div>

<!-- featured -->

<div class="container feature ">
  <div class="d-flex align-items-center my-5">
    <h4 class="pr-2">
      Featured Destination
    </h4>
  </div>
  <div class="col-12 d-flex align-items-center justify-content-between p-0 mb-5">
    <div class="col-4 ">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid" src="assets/images/home/5.jpeg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h5 class="card-title">Zermatt, Switzerland</h5>
          <!--Text-->
          <p class="card-text d-flex">
            <i class="material-icons"> location_on </i>Ecuador</p>

        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid" src="assets/images/home/6.jpeg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h5 class="card-title">Queenstown, New Zealand</h5>
          <!--Text-->
          <p class="card-text d-flex">
            <i class="material-icons"> location_on </i> South America</p>

        </div>

      </div>
    </div>
    <div class="col-4">
      <div class="card">

        <!--Card image-->
        <img class="img-fluid" src="assets/images/home/7.jpeg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h5 class="card-title">YellowStone, USA</h5>
          <!--Text-->
          <p class="card-text d-flex">
            <i class="material-icons"> location_on </i>Europe</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end feature -->

<!-- tour -->
<div class="section_tour mb-5 p-5 ">
  <div class="container tour my-5">
    <div class="text-center my-3 look">
      <h3 class="text-center my-3">Take a look at our most popular tours </h3>
      <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eius ex, assumenda sed officia eaque quod quia. Voluptates
        corrupti molestiae repellendus incidunt est laborum fuga totam vitae eos quas quisquam id nisi magni, architecto
        ex qui error facilis. Obcaecati id quidem aut pariatur sapiente quod. Delectus corporis obcaecati ut in eaque eum
        iste laudantium esse distinctio illum! Explicabo, eius praesentium!</p>

    </div>

    <div class="col-12 d-flex align-items-center justify-content-between">
      <div class="col-4 text-center">
        <div class="my-5">
          <img src="assets/images/home/1.png" alt="" class="img-fluid">
        </div>

        <div>
          <h3 class="my-3 text-center">Amazing Travel</h3>
          <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ut deleniti nam iure nisi eum numquam perspiciatis,
            vitae recusandae ducimus?</p>
          <button type="button" class="btn  btn-rounded waves-ligh find d-flex justify-content-center align-items-center text-center"
            mdbWavesEffect>Read More

          </button>
        </div>
      </div>

      <div class="col-4 text-center">
        <div class="my-5">
          <img src="assets/images/home/2.png" alt="" class="img-fluid">
        </div>

        <div>
          <h3 class="my-3 text-center">Explore Destinations</h3>
          <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ut deleniti nam iure nisi eum numquam perspiciatis,
            vitae recusandae ducimus?</p>
          <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center"
            mdbWavesEffect>Read More

          </button>
        </div>
      </div>

      <div class="col-4 text-center">
        <div class="my-5">
          <img src="assets/images/home/3.png" alt="" class="img-fluid">
        </div>

        <div>
          <h3 class="my-3 text-center">Book Your Trip</h3>
          <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ut deleniti nam iure nisi eum numquam perspiciatis,
            vitae recusandae ducimus?</p>
          <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center"
            mdbWavesEffect>Read More

          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end tour -->

<!-- vaction -->
<div class="vaction pb-5">
  <div class="container">
    <div class="col-12 d-flex py-5">
    <div class=" text-center">
        <h3 class="my-2"> Travel World's Vacation Packages </h3>
        <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid error suscipit culpa corporis inventore ad totam
          numquam autem maiores, consequatur, est rerum laboriosam at quae vero ipsam illum sit quibusdam?consequatur, est
          rerum laboriosam at quae vero ipsam illum sit quibusdam?</p>
      </div>
      </div>

    <div class="col-12 d-flex justify-content-between align-items-center">
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <img class="img-fluid" src="assets/images/home/11.jpeg" alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">Zermatt, Switzerland</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Ecuador</p>

          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="card">

          <!--Card image-->
          <img class="img-fluid" src="assets/images/home/13.jpeg" alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">Zermatt, Switzerland</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Ecuador</p>

          </div>

        </div>
      </div>
      <div class="col-4 ">
        <div class="card">

          <!--Card image-->
          <img class="img-fluid" src="assets/images/home/12.jpeg" alt="Card image cap">

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">Zermatt, Switzerland</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Ecuador</p>
            </div>
           </div>
      </div>
     </div>
  </div>
</div>

<!-- end vaction -->

<!-- trips -->
<div class="container">
  <div class="row">
    <div class="col-12 my-5">
      <div class="pl-3">
        <h3>Trips within India</h3>
        <p>Explore places in and around city</p>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center trip_deals">
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/10.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/15.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>
             </div>
             </div>
      </div>
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/16.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- end trip -->

<!-- international trip -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5 pl-3">
        <h3>International Trips</h3>
        <p>Explore places in and around city</p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center trip_deals">
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/17.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/19.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/20.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- end-international -->

<!-- deal -->
<div class="container ">
  <div class="row">
    <div class="col-12">
      <div class="my-5 pl-3">
        <h3>Discover Hot Top Trip Deals</h3>
        <p>Explore places in and around city</p>

      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center trip_deals mb-5">
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/21.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/26.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>

      <div class="col-4">
        <div class="card">

          <!--Card image-->
          <div class="img_card">
            <img class="img-fluid" src="assets/images/home/20.jpeg" alt="Card image cap">
            <div class="overlay_img ">
              <button type="button" class="btn  btn-rounded waves-ligh find d-flex align-items-center justify-content-center text-center "
                mdbWavesEffect>Book</button>
            </div>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h5 class="card-title">YellowStone, USA</h5>
            <!--Text-->
            <p class="card-text d-flex">
              <i class="material-icons"> location_on </i>Europe</p>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- deal -->

<!-- mobil -->
<div class="mob">
  <div class="container">
    <div class="mob_content text-center p-5">
      <h3>The Webaxyz Mobile App</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, omnis ad ipsum hic illum officiis dolorem reprehenderit
        odit doloremque adipisci neque reiciendis ullam, dolore odio vitae!</p>
    </div>
  </div>
</div>

<!-- mobil -->
