@import '~variables.scss';
@import '~mixins.scss';
.banner_inner_content_agile_w3l {
  background: url("/assets/images/about/2.png") no-repeat;
  background-size: cover;
  height:400px;
  h2{
    color: #fff;
    font-weight: bold;
  }
  h4{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
  }
}
.ab_hd{
  font-weight: bold;

}
.about {
  .About_heading {
    @include heading;
    margin: 20px 0;
    text-align: center;
    &::after {
      margin: auto;
    }
  }
  .wthree_head_section p {
    font-size: 15px;
    text-align: center;
    margin: 10px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
  }
  .about-w3right {
    padding: 0 2em;
  }
  .stats {
    background: url("/assets/images/about/bk_1.jpg")no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    background-attachment: fixed;
    .agile_overlay2 {
      background: url("/assets/images/about/overlay.png")repeat;
      background-size: cover;
      padding: 5em 0;
    }
    .ttt {
      color: #fff;
    }
    h3.w3l_header.ttt,
    h3.w3l_header.ttt span,
    p.ppp {
      color: #fff;
    }
    h3.w3l_header.ttt,
    h3.w3l_header.ttt span,
    p.ppp {
      color: #fff;
    }
    .w3layouts_stats_left i {
      font-size: 2.5em;
      color: #fff;
    }
    .w3layouts_stats_left p {
      font-size: 2em;
      font-weight: 700;
      letter-spacing: 2px;
      color: #fff;
      margin: 0.5em 0;
    }
    .w3layouts_stats_left h3 {
      font-size: 1.3em;
      color: #ed1d78;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
  .product_section{
    // background:url("assets/images/about/p.jpg") no-repeat;
    // background-size: cover;
    background-color: #fff;
    p{
      font-weight: bold;
    }
  }
  .Professionals {
    .team-social {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      margin-bottom: 1em;
      a i {
        font-size: 16px;
        padding: 10px;
        width: 35px;
        height: 35px;
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
      }
    }
    .fa.fa-facebook {
      color: #ed1d78;
      border: 1px solid #ed1d78;
    }
    .fa.fa-facebook:hover {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    .fa.fa-twitter {
      color: #0776bc;
      border: 1px solid #0776bc;
    }
    .fa.fa-twitter:hover {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    .fa.fa-linkedin {
      color: #9ecb3b;
      border: 1px solid #9ecb3b;
    }
    .fa.fa-linkedin:hover {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    .fa.fa-pinterest-p {
      color: #f26326;
      border: 1px solid #f26326;
    }
    .fa.fa-pinterest-p:hover {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
  }

  .join_web{
    background-color: #fff;
    width: 100%;
    h2{
      font-weight: bold;
    }
  }
}
