@import '~variables.scss';
@import '~mixins.scss';
.heading {
  @include heading;
}

.mat-button {
  @include button;
}

.filter_section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 3fr;
  grid-column-gap: 2px;
  .filter_div {
    background: red;
  }
  .destination_div {
    background: yellow;
  }
  .result_div {
    background: green;
  }
}
