<section class="availability">
  <div class="container">
    <div class="col-12 p-0 mb-2 modify_search sticky-top">
      <div class="">

      </div>
      <div class="item p-3 source">
        <h6 class="mb-0">BLR</h6>
        <p class="mb-0">Bangalore, Karnataka</p>
        <span>24/06/2018</span>
      </div>
      <div class="item p-3 destination">
        <h6 class="mb-0">CCj</h6>
        <p class="mb-0">Bangalore, Karnataka</p>
        <span>24/06/2018</span>
      </div>
      <div class="item p-3 travels">
        <h6 class="mb-0">5 travellers</h6>
        <p class="mb-0">Bangalore, Karnataka</p>
        <span>24/06/2018</span>
      </div>
      <div class="item p-3 seater_class">
        <h6 class="mb-0">Economy</h6>
        <p class="mb-0">Bangalore, Karnataka</p>
        <span>24/06/2018</span>
      </div>
      <div class="item p-3 d-flex justify-content-center align-items-center search_button">
        <button type="button" class="btn btn-outline-secondary btn-rounded" mdbWavesEffect>Modify Search</button>
      </div>
    </div>

    <div class="col-12 px-0 search_results">
      <div class="col-1 px-0 filter_div">
        <div class="py-3 px-4 d-flex flex-column justify-content-center align-items-center item priceState" #filter (click)="open_filter($event)">
          <i class="material-icons"> sort </i>
          <p class="mb-0">price</p>

        </div>

        <div class="p-3 px-4 d-flex flex-column justify-content-center align-items-center item deptState" #price (click)="open_filter($event)">
          <i class="material-icons">
            sort
          </i>
          <p class="mb-0">dept</p>
        </div>
        <div class="p-3 px-4 d-flex flex-column justify-content-center align-items-center item stopsState" #deoart (click)="open_filter($event)">
          <i class="material-icons">
            sort
          </i>
          <p class="mb-0">stops</p>
        </div>
        <div class="p-3 px-4 d-flex flex-column justify-content-center align-items-center item fairState" #airlines (click)="open_filter($event)">
          <i class="material-icons">
            sort
          </i>
          <p class="mb-0">fair</p>
        </div>
        <div class="p-3 px-4 d-flex flex-column justify-content-center align-items-center item airlineState" #fair (click)="open_filter($event)">
          <i class="material-icons">
            sort
          </i>
          <p class="mb-0">airline</p>
        </div>
        <!-- <div class="p-3 px-4 d-flex flex-column justify-content-center align-items-center item 6" #stops (click)="open_filter($event)">
          <i class="material-icons">
            sort
          </i>
        </div> -->
      </div>


      <div class="col-2 filter_section {{priceState}}">
        <div class="content py-3">
          <h1>Filter Section</h1>
          <hr>
          <div>
            <h2>Price</h2>
            <p>Upto Rs 2,52,369</p>
            <mat-slider [thumbLabel]="true" value="10000" [displayWith]="formatLabel" tickInterval="1" min="1" max="100000"></mat-slider>
            <div class="d-flex justify-content-between minmax">
              <p>min: 0</p>
              <p>max: 100k</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 filter_section {{deptState}}">
        <div class="content py-3">
          <h1>Filter Section</h1>
          <hr>
          <div>
            <h2>Depart Time</h2>
            <mat-checkbox>00 - 06</mat-checkbox>
            <mat-checkbox>06- 12</mat-checkbox>
            <mat-checkbox>12 - 18</mat-checkbox>
            <mat-checkbox>18 - 00</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-2 filter_section {{stopsState}}">
        <div class="content py-3">
          <h1>Filter Section</h1>
          <hr>
          <div>
            <h2>Stops</h2>
            <mat-checkbox>Non-Stops</mat-checkbox>
            <mat-checkbox>1 Stop</mat-checkbox>
            <mat-checkbox>2+ Stops</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-2 filter_section {{fairState}}">
        <div class="content py-3">
          <h1>Filter Section</h1>
          <hr>
          <div>
            <h2>Fare Type</h2>
            <mat-checkbox>Refundable</mat-checkbox>
            <mat-checkbox>Non Refundable</mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-2 filter_section {{airlineState}}">
        <div class="content py-3">
          <h1>Filter Section</h1>
          <hr>
          <div>
            <h2>Airlines</h2>
            <mat-checkbox>Air India</mat-checkbox>
            <mat-checkbox>Indigo</mat-checkbox>
            <mat-checkbox>China Airlines</mat-checkbox>
            <mat-checkbox>Jet Airways</mat-checkbox>
            <mat-checkbox>Indonesia</mat-checkbox>
          </div>
        </div>
      </div>



      <div class="col-1 px-0 dest_nav">
        <div #emptyDivRequired>
        </div>
        <div class="d-flex flex-column  align-items-center destination">
          <div class="d-flex flex-column justify-content-center align-items-center item success">
            <p class="mb-0">BLR</p>
            <p class="mb-0">CDK</p>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center item success">
            <p class="mb-0">BLR</p>
            <p class="mb-0">CDK</p>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center item active">
            <p class="mb-0">BLR</p>
            <p class="mb-0">CDK</p>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center item">
            <p class="mb-0">BLR</p>
            <p class="mb-0">CDK</p>
          </div>
        </div>
      </div>



      <div class="{{dynamicClass}} px-0 results_div">


        <div class="d-flex  justify-content-center align-items-center Header">
          <div class="col-12 px-0 d-flex justify-content-center align-items-center">
            <div class="col-10 px-0 d-flex flex-column justify-content-center align-items-center section1">
              <div class="col-12 px-0 d-flex justify-content-center align-items-center ">
                <div class="col-2 d-flex flex-column justify-content-center align-items-center item">
                  <p class="mb-0">Delta Air Lines</p>
                </div>
                <div class="col-2 d-flex flex-column justify-content-center align-items-center item">
                  <p class="mb-0">Depature</p>
                </div>
                <div class="col-2 d-flex flex-column justify-content-center align-items-center item ">
                  <p class="mb-0">Duration</p>
                </div>
                <div class="col-2 d-flex flex-column justify-content-center align-items-center item">
                  <p class="mb-0">Return</p>
                </div>
                <div class="col-2 d-flex flex-column justify-content-center align-items-center item">
                  <p class="mb-0">Price</p>
                </div>
              </div>
            </div>
            <div class="col-2 px-0 d-flex flex-column justify-content-center align-items-center item ">
              <div class="col-12 d-flex flex-column justify-content-center align-items-center item">
                <p class="mb-0">Showing 18 of 18 Flights</p>
              </div>
            </div>
          </div>
        </div>



        <div class="result">
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>
          <app-flight-template></app-flight-template>

        </div>


      </div>
    </div>
  </div>
</section>
