<div class="items bus_template">
  <div class="col-12  d-flex justify-content-center align-items-center px-0">
    <div class="col-10  d-flex justify-content-center align-items-center px-0">
      <div class="col-md-4 py-3 d-flex flex-column justify-content-start text-left align-items-center item trvl_img">

        <div class="d-flex justify-content-center align-items-center">
          <div class="pr-2">
            <img src="assets/images/bus.svg" />
          </div>
          <div matTooltipPosition="above" mat-raised-button matTooltip="City name">
            <h6>Kallada Tours & Travels</h6>
            <p class="mb-0">VOLVO MULTI AXLE SEMI SLEEPER</p>
          </div>
        </div>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item">
        <h6 class="mb-0">06:30</h6>
        <p class="mb-0">Bangalore</p>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item trvl_dur" matTooltipPosition="above"
        mat-raised-button matTooltip="Duration">
        <h6 class="mb-0">1h 55m</h6>
        <img class="img-fluid" src="https://assetscdn.paytm.com/travel/rtravel/assets/50a2b752.svg" alt="">
        <p class="mb-0">Non Stop</p>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item">
        <h6 class="mb-0">08:30</h6>
        <p class="mb-0">Mangalore</p>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item ">
        <div class="discount" matTooltipPosition="above" mat-raised-button matTooltip="offer price">
          <h6 class="mb-0 price_right">INR 9612</h6>
          <div class="d-flex justify-content-center align-items-center" matTooltipPosition="above" mat-raised-button matTooltip="9 seats remaining">
            <i class="material-icons">
              airline_seat_recline_extra
            </i>
            <p class="mb-0">9 Seats</p>
          </div>
        </div>
        <div class="offer d-flex justify-content-center align-items-center p-1">
          <h6 class="mb-0 price_right">INR 9600</h6>
        </div>
      </div>
    </div>

    <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item trvl_book_btn">
      <button type="button" class="btn btn-default btn-rounded waves-light" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
        (click)="demoBasic.show()">View Seats</button>
      <div class="view_status d-flex px-2" matTooltipPosition="above" mat-raised-button matTooltip="Viewed">
        <i class="material-icons pr-1">
          done
        </i>
        <span>Viewed</span>
      </div> 
    </div>
  </div>
  <div class="d-flex py-1 bus_footer w-100 justify-content-center align-items-center">
    <p class="mb-0 px-5 refund" matTooltipPosition="above" mat-raised-button matTooltip="Refundable">Refunadable</p>
    <div class="provider fundable">
      <p class="mb-0 px-5 bord_tab"(click)="bus_inf($event)"  mdbWavesEffect data-toggle="modal" data-target="#basicExample"
      (click)="demoBasic.show()">Boarding</p>
      <!-- <div class="animated slideInDown tol-tip" data-wow-delay="0s" data-wow-offset="100" data-wow-duration="0s">
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">Narayana Hrudayalaya Bommasandra</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">	Hebbugodi</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">	Bommasandra Bommasandra</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">Narayana Hrudayalaya Hrudayalaya</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">Bommasandra Bommasandra</span>
          <span>05:00</span>
        </div>
       
      </div> -->
    </div>
    <div class="provider fundable">
      <p class="mb-0 px-5" (click)="bus_inf()"  mdbWavesEffect data-toggle="modal" data-target="#basicExample"
      (click)="demoBasic.show()">Dropping</p>
      <!-- <div class="animated slideInDown tol-tip" data-wow-delay="1s" data-wow-offset="100" data-wow-duration="1s">
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">MANI JUNCTION</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">Bommasandra</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">BOLIYAR</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">KONAJE MANGALORE UNIVERSITY</span>
          <span>05:00</span>
        </div>
        <div class="p-2 d-flex justify-content-between align-items-center">
          <span class="pr-2 elipise">MADANAYAKANAHALLI</span>
          <span>05:00</span>
        </div>
       
      </div> -->
    </div>
    <div class="provider fundable">
      <p class="mb-0 px-5 can_tab"(click)="bus_inf($event)" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
      (click)="demoBasic.show()">cancellation</p>
      <!-- <div class="animated slideInDown tol-tip cancellation" data-wow-delay="1s" data-wow-offset="100" data-wow-duration="1s">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <div class="col-4">
            <p>Description</p>
            <span>Before 24th May 08:15 PM</span>
          </div>
          <div class="col-4">
            <p>Cancelation Chargers</p>
            <span>15%</span>
          </div>
          <div class="col-4  d-flex">
            <p>Percentage</p>
            <span>Rs. 75 / 82 / 90</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header py-3">
        <h6 class="modal-title w-100" id="myModalLabel">Bus Details</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="mb-3 d-flex justify-content-between align-items-center current_item_details">
          <div class="d-flex  justify-content-center align-items-start">
            <div class="d-flex justify-content-between align-items-center airline pr-3">
              <div class="pr-2">
                <img src="assets/images/bus.svg" />
              </div>
              <div>
                <h6 class="mb-0">Kallada Tours & Travels</h6>
                <p class="mb-0">VOLVO MULTI AXLE SEMI SLEEPER</p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-start">
              <h6 class="mb-0">Bangalore -> Manglaore</h6>
              <p class="mb-0">Tue, 22may | 1h 55m | Non Stop</p>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-end">
            <h4 class="mb-0">
              $6,861
            </h4>
            <p class="mb-0">(Per Adult)</p>
          </div>
        </div>
        <mat-card>
          <mat-card-content>
            <mat-tab-group class="demo-tab-group">
              <mat-tab label="Available Seats">
                <div class="tab-content py-4">
                  <div class="col-md-12 d-flex">
                    <div class="seats col-md-6 d-flex">
                      <div class="w-100">
                        <div class="bus_layout">
                          <div class="seat_layout">
                            <div class="driver_seat px-2 py-2 d-flex justify-content-between">
                              <div>
                                <div>
                                  <img src="assets/images/bus seat icons/steering.svg" />
                                </div>
                                <div class="mt-1 ml-1">
                                  <img src="assets/images/bus seat icons/avail.svg" />
                                </div>
                              </div>
                              <div>
                                <div>
                                  <img src="assets/images/bus seat icons/steering.svg" />
                                </div>
                                <div class="mt-1 ml-1">
                                  <img src="assets/images/bus seat icons/avail.svg" />
                                </div>
                              </div>
                            </div>
                            <div class=" passenger_seat py-2">
                              <div class="wheel_1"></div>
                              <div class="wheel_2"></div>
                              <div class="d-flex  align-items-center justify-content-between">
                                <div class="col-12 d-flex align-items-center justify-content-between px-0">
                                  <table class="table bus_seats">
                                    <thead>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td >
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td >
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                        <td></td>
                                        <td>
                                          <img src="{{seat}}" (click)="select_seat($event)" matTooltipPosition="above" mat-raised-button matTooltip="1A" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <img src="assets/images/bus seat icons/avail.svg" />
                                        </td>
                                        <td>
                                          <img src="assets/images/bus seat icons/avail.svg" />
                                        </td>
                                        <td>
                                          <img src="assets/images/bus seat icons/avail.svg" />
                                        </td>
                                        <td>
                                          <img src="assets/images/bus seat icons/avail.svg" />
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="wheel_3"></div>
                              <div class="wheel_4"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                     class="col-md-6 seat_define ">
                      <div class="col-12 d-flex justify-content-between align-items-center">
                        <div class="col-6 p-0">
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2 ">
                            <span class="Ladies">
                              <img src="assets/images/bus seat icons/lady.svg" />
                            </span>
                            <p class="mb-0 mt-1">Ladies</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Booked">
                              <img src="assets/images/bus seat icons/booked.svg" />
                            </span>
                            <p class="mb-0 mt-1">Booked</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Available">
                              <img src="assets/images/bus seat icons/avail.svg" />
                            </span>
                            <p class="mb-0 mt-1">Available</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Selected">
                              <img src="assets/images/bus seat icons/select.svg" />
                            </span>
                            <p class="mb-0 mt-1">Selected</p>
                          </div>
                        </div>
                        <div class="col-6 sleep p-0">
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2 ">
                            <span class="Ladies">
                              <img src="assets/images/bus seat icons/lady_sleeper_1.svg" class="pr-2" />
                            </span>
                            <p class="mb-0 mt-1">Ladies Sleeper</p>
                          </div>

                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Booked">
                              <img src="assets/images/bus seat icons/booked_sleeper_1.svg" class="pr-2" />
                            </span>
                            <p class="mb-0 mt-1">Booked Sleeper</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Available">
                              <img src="assets/images/bus seat icons/avail_sleeper_1.svg" class="pr-2" />
                            </span>
                            <p class="mb-0 mt-1">Available Sleeper</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Selected">
                              <img src="assets/images/bus seat icons/select_sleeper_1.svg" class="pr-2" />
                            </span>
                            <p class="mb-0 mt-1">Selected Sleeper</p>
                          </div>
                        </div>
                      </div>
                      <div class="bd_ponts animated slideInRight">
                        <div class="bdy_brd">
                          <p class="text-center">Choose your Boarding and Drooping Points</p>
                          <div>
                            <label>Boarding Point :</label>
                          </div>
                          <div>
                            <label>Drooping Point :</label>
                          </div>
                          <div class="d-flex justify-content-between">
                            <label>Seat No :</label>
                            <label>2A</label>
                          </div>
                          <div></div>
                        </div>
                        <div>
                          <div class="d-flex justify-content-between bus_fare pt-3">
                            <label>Fares :</label>
                            <label>INR
                              <span>763.00</span>
                            </label>
                          </div>
                          <div class="text-center">
                            <button type="button" class="btn btn-default btn-rounded button">Procced</button>
                            <p>Fare inclusive taxs will be shown on payment page</p>
                          </div>
                        </div>
                        <div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Amenities">
                <div class="tab-content py-4">
                  <div class="col-md-12 d-flex flex-wrap">

                    <div class="col-md-4 d-flex align-items-center justify-content-start mb-3">
                      <img src="assets/images/bus_aminities/desk-lamp.svg" class="mr-2" />
                      <span>Reading Lamp</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-start mb-3">
                      <img src="assets/images/bus_aminities/power-cord.svg" class="mr-2" />
                      <span>Charger</span>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/images/bus_aminities/fire-extinguisher.svg" class="mr-2" />
                      <span>Fire Extinguisher</span>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/images/bus_aminities/carpenter-hammer.svg" class="mr-2" />
                      <span>Hammer (to break glass)</span>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/images/bus_aminities/exit-arrow.svg" class="mr-2" />
                      <span>Emergency exit</span>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Reviews">
                <div class="tab-content py-4">
                  <div class="d-flex reviews">
                    <div class="col-md-2">
                      <div class="text-center user">
                        <img src="assets/images/user.svg" />
                        <p class="mb-2">Ms.Dhoni</p>
                        <h3 class="">4.5/5</h3>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="">
                        <p class="mb-0 text-justify">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis autem asperiores facere."</p>
                      </div>
                    </div>
                    <div class="col-md-6 px-0">
                      <div class="col-12 d-flex justify-content-between align-items-center px-0 bus_rating">
                        <div class="col-4 text-center">
                          <label class=" mb-0">Staff Behaviour</label>
                          <div class="rat_green">
                            <h4>4.5/5</h4>
                          </div>
                        </div>
                        <div class="col-4 text-center">
                          <label class=" mb-0">Punctuality</label>
                          <div class="rat_blue">
                            <h4>4.5/5</h4>
                          </div>
                        </div>
                        <div class="col-4 text-center">
                          <label class=" mb-0">Bus Quality</label>
                          <div class="rat_orange">
                            <h4>3.5/5</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Boarding & Dropping Points" >
                <div class="tab-content py-4">
                  <div class="col-12 d-flex boarding">
                    <div class="col-6 justify-content-center">
                      <h6 class="">Boarding point</h6>
                      <table class="table table-striped table-bordered table-sm mb-0">
                        <thead>
                          <tr>
                            <th>Time</th>
                            <th>Place</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">05:00</td>
                            <td>Narayana Hrudayalaya</td>
                          </tr>
                          <tr>
                            <td scope="row">20:20</td>
                            <td>Bommasandra</td>
                          </tr>
                          <tr>
                            <td scope="row">20:25</td>
                            <td>Hebbugodi</td>
                          </tr>
                          <tr>
                            <td scope="row">4</td>
                            <td>Total</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-6 justify-content-center">
                      <h6 class="">Dropping Point</h6>
                      <table class="table table-striped table-bordered table-sm mb-0 ">
                        <thead>
                          <tr>
                            <th>Time</th>
                            <th>Place</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td scope="row">04:30</td>
                            <td>Urwa Store</td> 
                          </tr>
                          <tr>
                            <td scope="row">04:36</td>
                            <td>Kottara Chowki</td>
                          </tr>
                          <tr>
                            <td scope="row">04:30</td>
                            <td>KANKANADY Near Mangalore Gate</td>
                          </tr>
                          <tr>
                            <td scope="row">04:36</td>
                            <td>Kottara Chowki</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Bus cancellation">
                <div class="tab-content py-4 ">
                  <div class="cancellation">


                    <h6 class="">Cancellation</h6>
                    <table class="table table-striped table-bordered table-sm mb-0 ">
                      <thead>
                        <tr>
                          <th>Time of Cancellation</th>
                          <th>Deduction Percentage</th>
                          <th>Cancellation Charges</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td scope="row">Before 24th May 08:15 PM</td>
                          <td>15%</td>
                          <td>Rs. 75 / 82 / 90</td> 
                        </tr>
                        <tr>
                          <td scope="row">After 24th May 08:15 PM & Before 28th May 08:15 PM</td>
                          <td>20%</td>
                          <td>Rs. 100 / 110 / 120</td> 
                        </tr>
                        <tr>
                          <td scope="row">After 28th May 08:15 PM & Before 30th May 08:15 PM</td>
                          <td>25%</td>
                          <td>Rs. 125 / 138 / 150</td>
                        </tr>
                        <tr>
                          <td scope="row">After 30th May 08:15 PM & Before 31st May 04:15 PM</td>
                          <td>50%</td>
                          <td>Rs. 250 / 275 / 300</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </mat-tab> 
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary btn-sm d-flex justify-content-center align-items-center px-0 yes waves-light"
          mdbWavesEffect>
          <i class="material-icons">
            done
          </i>
        </button>
        <button type="button" class="btn btn-secondary btn-sm justify-content-center align-items-center px-0 no waves-light" data-dismiss="modal"
          (click)="demoBasic.hide()" mdbWavesEffect>
          <i class="material-icons">
            close
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
