<div class="items bus_template">
  <div class="col-12  d-flex justify-content-center align-items-center">
    <div class="col-10  d-flex justify-content-center align-items-center">
      <div class="col-md-4 py-3 d-flex flex-column justify-content-start text-left align-items-center item trvl_img">

        <div class="d-flex justify-content-center align-items-center">
          <div class="pr-2">
            <img src="assets/images/bus.svg" />
          </div>
          <div>
            <h6>Kallada Tours & Travels</h6>
            <p class="mb-0">VOLVO MULTI AXLE SEMI SLEEPER</p>
          </div>
        </div>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item">
        <h6 class="mb-0">06:30</h6>
        <p class="mb-0">Bangalore</p>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item trvl_dur">
        <h6 class="mb-0">1h 55m</h6>
        <img class="img-fluid" src="https://assetscdn.paytm.com/travel/rtravel/assets/50a2b752.svg" alt="">
        <p class="mb-0">Non Stop</p>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item">
        <h6 class="mb-0">08:30</h6>
        <p class="mb-0">Mangalore</p>
      </div>
      <div class="col-2 py-3 d-flex flex-column justify-content-center align-items-center item ">
        <div class="discount">
          <h6 class="mb-0 price_right">INR 9612</h6>
          <div class="d-flex justify-content-center align-items-center">
            <i class="material-icons">
              airline_seat_recline_extra
            </i>
            <p class="mb-0">9 Seats</p>
          </div>

        </div>
        <div class="offer d-flex justify-content-center align-items-center p-1">
          <h6 class="mb-0 price_right">INR 9600</h6>
        </div>
      </div>

    </div>

    <div class="col-2 py-2 d-flex flex-column justify-content-center align-items-center item trvl_book_btn">
      <button type="button" class="btn btn-default btn-rounded waves-light" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
        (click)="demoBasic.show()">View Seats</button>
        <div class="view_status" matTooltipPosition="above" mat-raised-button matTooltip="Viewed">
            <i class="far fa-eye"></i>
          </div>
    </div>


  </div>
  <div class="d-flex py-1 bus_footer w-100 justify-content-center align-items-center">
    <p class="mb-0 px-5 refund"  matTooltipPosition="above" mat-raised-button matTooltip="Refundable">Refunadable</p>
    <div class="provider fundable">
        <p class="mb-0 px-5">Boarding</p>
        <div class="animated slideInDown tol-tip" data-wow-delay="1s" data-wow-offset="100" data-wow-duration="1s">
            <div class="p-2">
                Boarding
              </div>
          </div>
    </div>
    <div class="provider fundable">
        <p class="mb-0 px-5">Drooping</p>
        <div class="animated slideInDown tol-tip" data-wow-delay="1s" data-wow-offset="100" data-wow-duration="1s">
            <div class="p-2">
                Drooping
              </div>
          </div>
    </div>
    <div class="provider fundable">
        <p class="mb-0 px-5">Cancelation</p>
        <div class="animated slideInDown tol-tip" data-wow-delay="1s" data-wow-offset="100" data-wow-duration="1s">
            <div class="p-2">
                Cancelation
              </div>
          </div>
    </div>
     
      
    </div>
  
</div>




<div mdbModal #demoBasic="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header py-3">
        <h6 class="modal-title w-100" id="myModalLabel">Bus Details</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="mb-3 d-flex justify-content-between align-items-center current_item_details">
          <div class="d-flex  justify-content-center align-items-start">
            <div class="d-flex justify-content-between align-items-center airline pr-3">
              <div class="pr-2">
                <img src="assets/images/bus.svg" />
              </div>
              <div>
                <h6 class="mb-0">Kallada Tours & Travels</h6>
                <p class="mb-0">VOLVO MULTI AXLE SEMI SLEEPER</p>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-start">
              <h6 class="mb-0">Bangalore -> Manglaore</h6>
              <p class="mb-0">Tue, 22may | 1h 55m | Non Stop</p>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-end">
            <h4 class="mb-0">
              $6,861
            </h4>
            <p class="mb-0">(Per Adult)</p>
          </div>
        </div>
        <mat-card>
          <mat-card-content>
            <mat-tab-group class="demo-tab-group">
              <mat-tab label="Available Seats">
                <div class="tab-content py-4">
                  <div class="col-md-12 d-flex">
                    <div class="seats col-md-6 d-flex">
                      <div class="w-100">
                        <div class="bus_layout">
                          <div class="seat_layout">
                            <div class="driver_seat px-2 py-2 d-flex justify-content-between">
                              <div>
                                <div>
                                  <img src="assets/images/bus seat icons/steering.svg" />
                                </div>
                                <div class="mt-1 ml-1">
                                  <img src="assets/images/bus seat icons/avail.svg"  />
                                </div>
                              </div>
                              <div>
                                <div>
                                  <img src="assets/images/bus seat icons/steering.svg" />
                                </div>
                                <div class="mt-1 ml-1">
                                  <img src="assets/images/bus seat icons/avail.svg" />
                                </div>
                              </div>
                            </div>
                            <div class=" passenger_seat">
                              <div class="wheel_1"></div>
                              <div class="wheel_2"></div>
                              <div class="d-flex  align-items-center justify-content-between">
                                  <div class="col-12 d-flex align-items-center justify-content-between px-0">
                                    <div class="col-2 px-0">
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/select.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/booked.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/lady.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/select.svg" class="mb-2" />
                                    </div>
                                    <div class="col-2 px-0">
                                        <img src="assets/images/bus seat icons/select.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/booked.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/select.svg" class="mb-2" />
                                    </div>
                                    <div class="col-2 px-0">
                                        <img src="assets/images/bus seat icons/select.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/booked.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/select.svg" class="mb-2" />
                                    </div>
                                    <div class="col-4 px-0">
                                      
                                    </div>
                                    <div class="col-2 px-0">
                                        <img src="assets/images/bus seat icons/select_sleeper.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/booked_sleeper.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail_sleeper.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/lady_sleeper.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/avail_sleeper.svg" class="mb-2" />
                                        <img src="assets/images/bus seat icons/select_sleeper.svg" class="mb-2" />
                                    </div>
                                  </div>
                              </div>
                             
                              <div class="wheel_3"></div>
                              <div class="wheel_4"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6 seat_define ">
                      <div class="col-12 d-flex justify-content-between align-items-center">
                        <div class="col-6">
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2 ">
                            <span class="Ladies">
                              <img src="assets/images/bus seat icons/lady.svg" />
                            </span>
                            <p class="mb-0 mt-1">Ladies</p>
                          </div>

                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Booked">
                              <img src="assets/images/bus seat icons/booked.svg" />
                            </span>
                            <p class="mb-0 mt-1">Booked</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Available">
                              <img src="assets/images/bus seat icons/avail.svg" />
                            </span>
                            <p class="mb-0 mt-1">Available</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                            <span class="Selected">
                              <img src="assets/images/bus seat icons/select.svg" />
                            </span>
                            <p class="mb-0 mt-1">Selected</p>
                          </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-between align-items-center clearfix pb-2 ">
                                <span class="Ladies">
                                  <img src="assets/images/bus seat icons/lady_sleeper_1.svg" />
                                </span>
                                <p class="mb-0 mt-1">Ladies Sleeper</p>
                              </div>
    
                              <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                                <span class="Booked">
                                  <img src="assets/images/bus seat icons/booked_sleeper_1.svg" />
                                </span>
                                <p class="mb-0 mt-1">Booked Sleeper</p>
                              </div>
                              <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                                <span class="Available">
                                  <img src="assets/images/bus seat icons/avail_sleeper_1.svg" />
                                </span>
                                <p class="mb-0 mt-1">Available Sleeper</p>
                              </div>
                              <div class="d-flex justify-content-between align-items-center clearfix pb-2">
                                <span class="Selected">
                                  <img src="assets/images/bus seat icons/select_sleeper_1.svg" />
                                </span>
                                <p class="mb-0 mt-1">Selected Sleeper</p>
                              </div>
                        </div>
                      </div>
                      <div class="bd_ponts animated slideInRight">
                          <div class="bdy_brd">
                            <p class="text-center">Choose your Boarding and Drooping Points</p>
                            <div>
                              <label>Boarding Point :</label>
        
                            </div>
                            <div>
                              <label>Drooping Point :</label>
        
                            </div>
                            <div class="d-flex justify-content-between">
                              <label>Seat No :</label>
                              <label>2A</label>
                            </div>
                            <div></div>
                          </div>
                          <div>
                            <div class="d-flex justify-content-between bus_fare pt-3">
                              <label>Fares :</label>
                              <label>INR
                                <span>763.00</span>
                              </label>
        
                            </div>
                            <div class="text-center">
                              <button type="button" class="btn btn-default btn-rounded button">Procced</button>
                              <p>Fare inclusive taxs will be shown on payment page</p>
                            </div>
                          </div>
                          <div>
        
                          </div>
                        </div>



                    </div>
                  </div>

                </div>
               

              </mat-tab>

              <mat-tab label="Amenities">
                <div class="tab-content py-4">
                  <div class="col-md-12 d-flex flex-wrap">

                    <div class="col-md-4 d-flex align-items-center justify-content-start mb-3">
                      <img src="assets/images/bus_aminities/desk-lamp.svg" class="mr-2" />
                      <span>Reading Lamp</span>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-start mb-3">
                      <img src="assets/images/bus_aminities/power-cord.svg" class="mr-2" />
                      <span>Charger</span>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/images/bus_aminities/fire-extinguisher.svg" class="mr-2" />
                      <span>Fire Extinguisher</span>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/images/bus_aminities/carpenter-hammer.svg" class="mr-2" />
                      <span>Hammer (to break glass)</span>
                    </div>
                    <div class="col-md-4">
                      <img src="assets/images/bus_aminities/exit-arrow.svg" class="mr-2" />
                      <span>Emergency exit</span>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Reviews">
                <div class="tab-content py-4">
                  <div class="d-flex reviews">
                    <div class="col-md-3">
                      <div class="text-center user">
                        <img src="assets/images/user.svg" />
                        <p class="mb-2">Ms.Dhoni</p>
                        <h5 class="d-flex  align-items-center justify-content-center ">
                          <i class="material-icons active"> star </i>
                          <i class="material-icons active"> star </i>
                          <i class="material-icons active"> star </i>
                          <i class="material-icons active"> star </i>
                          <i class="material-icons "> star </i>
                        </h5>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="text-justify">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis autem asperiores facere. Fuga nesciunt
                          mollitia doloremque quisquam voluptatibus illum, alias deleniti odit voluptas molestiae esse id.</p>
                      </div>
                    </div>
                    <div class="col-md-5">

                      <div class="col-12 d-flex justify-content-between align-items-center px-0 prog_bar">
                        <label class="col-6 mb-0">Staff Behaviour</label>
                        <mat-progress-bar mode="determinate" value="50" class="col-6"></mat-progress-bar>
                      </div>
                      <div class="d-flex justify-content-between align-items-center px-0 prog_bar">
                        <label class="col-6 mb-0">Punctuality</label>
                        <mat-progress-bar mode="determinate" value="50" class="col-6"></mat-progress-bar>
                      </div>
                      <div class="d-flex justify-content-between align-items-center px-0 prog_bar">
                        <label class="col-6 mb-0">Bus Quality</label>
                        <mat-progress-bar mode="determinate" value="90" class="col-6"></mat-progress-bar>
                      </div>


                    </div>
                  </div>
                </div>
              </mat-tab>


            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-secondary btn-sm d-flex justify-content-center align-items-center px-0 yes waves-light"
            data-dismiss="modal" (click)="demoBasic.hide()" mdbWavesEffect>
            <i class="material-icons">
              done
            </i>
          </button>
          <button type="button" class="btn btn-secondary btn-sm justify-content-center align-items-center px-0 no waves-light" mdbWavesEffect>
            <i class="material-icons">
              close
            </i>
          </button>
        </div>

    </div>
  </div>
</div>
