<div class="container">
  <div>
    <mat-card class="about_us">
      <div>
        <h1 class="privacy_heading mb-3">Privacy Policy</h1>
        <div class="">
          <p class="bold">What personal information we collect from you and how we use it?</p>
          <p>
            When browsing our site, you are not required to provide any personal information unless and until you choose to make a purchase
            or sign up for one of our e-mail newsletters or other services as described below.
          </p>
        </div>
      </div>
      <div>
        <h3 class="aboutus_heading mb-2">Purchase</h3>
        <div class="">
          <p>
            In order to purchase travel and/or related services through our site, you must provide us with certain personal information
            such as your name, address, contact number, e - mail address and the name or names of the person(s) traveling
            (if not you). We may also ask you for other personal information, such as your frequent flier numbers, Passport
            no & expiry date.
          </p>
          <p>
            We require this information to process, fulfill and confirm your reservations and transactions and keep you informed of each
            transaction's status. If you are making a reservation for one or more travelers other than yourself, you must
            confirm and represent that each of these other travelers have agreed, in advance, that you may disclose their
            personal information to us.
          </p>
        </div>
      </div>
      <div>
        <h3 class="aboutus_heading mb-2">Registration</h3>
        <ol>
          <li>Personal identification</li>
          <li>To complete air, hotel, and holiday reservations</li>
          <li>To allow us to contact you for customer service purposes, if necessary</li>
          <li>To customize the content of our site to strive to meet your specific needs</li>
          <li>.To make product or other improvements to our site. In addition, we need your e - mail address to confirm your
            new member registration and each reservation you transact on our site. As a TripzEazy site member you will also
            occasionally receive updates from us about fare sales in your area, special offers, new TripzEazy services, and
            other noteworthy items. However, you may choose at any time to no longer receive these types of e - mail messages.
            Please see our Opt - Out Policy described below for details.</li>
        </ol>

      </div>
      <div>
        <h3 class="aboutus_heading mb-2">Cookies</h3>
        <p>Cookies" are small pieces of information that are stored by your browser on your computer's hard drive. There are
          many myths circulating about cookies, but you should know that cookies are only read by the server that placed
          them, and are unable to do such things as run programs on your computer, plant viruses or harvest your personal
          information.
        </p>
        <p>Cookies allow us to serve you better and more efficiently, and to personalize your experience at our site. TripzEazy
          uses cookies to personalize your experience on the TripzEazy site, and with respect to advertisements. As to the
          former, these types of cookies allow you to log in without having to type your log - in name each time (only your
          password is needed.</p>
      </div>
      <div>
        <h6 class="bold mb-2">With whom (if anyone) your personal information is shared?</h6>
        <p>
          When you reserve or purchase travel services through TripzEazy, we must provide certain of your personal information to the
          airline, hotel, and holiday agency or other involved third party to enable the successful fulfillment of your travel
          arrangements. However, we do not sell or rent individual customer names or other personal information to third
          parties.

        </p>
        <p>
          We use non - personally identifiable information in aggregate form to build higher quality, more useful online services by
          performing statistical analysis of the collective characteristics and behavior of our customers and visitors, and
          by measuring demographics and interests regarding specific areas of our Site. We may provide anonymous statistical
          information based on this data to suppliers, advertisers, affiliates and other current and potential business partners.

        </p>
        <p>
          We may also use such aggregate data to inform these third parties as to the number of people who have seen and clicked on
          links to their web sites. Occasionally, TripzEazy will hire a third party to act on our behalf for projects such
          as market - research surveys and contest - entry processing and will provide information to these third parties
          specifically for use in connection with these projects. The information we provide to such third parties is protected
          by a confidentiality agreement and is to be used solely for completing the specific project.
        </p>
      </div>

      <div>
        <h6 class="bold mb-2"> What safeguards we have in place to protect your personal information?</h6>
        <p>
          We maintain our servers in a controlled and secured environment. All payments on our site is SSL secured (Secure Global Sign).
          This means all personal information you provide to TripzEazy is transmitted using SSL (Secure Socket Layer) encryption.
          SSL is a proven coding system that lets your browser automatically encrypt, or scramble, data before you send it
          to us. The same process happens when you make travel purchases on our site.

        </p>
        <p>
          TripzEazy uses industry standard practices to safeguard the confidentiality of your Personally Identifiable Information,
          including the use of encryption, firewalls, and Secure Socket Layers. In an effort to protect all data against
          loss and unauthorized access, we employ many different security techniques to protect such data from unauthorized
          access by users inside and outside the company including regulating the physical and virtual access to any root
          access, database(s), servers, back-ups, encryption keys or other network and security-related infrastructure components.

        </p>
        <p>
          In addition, sensitive information such as passwords are encrypted before being stored in our systems such that even if a
          breach were to occur and access to the data achieved, the data would still be encrypted. Please be aware that while
          we take efforts to safeguard your user information, “perfect security” does not exist on the Internet. Constant
          changes to the Internet and technology mean that we cannot guarantee that data transmission will be 100% secure,
          or safe from attack by unauthorised intruders.
        </p>
      </div>


    </mat-card>
  </div>
</div>
