// Global Declarations styles to class
@mixin heading {
  font-size: 32px;
  font-family: $font_family;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin:60px 0;
  &::after {
    content: "";
    display: block;
    background: linear-gradient( -174deg, rgb(242, 99, 38) 0%, rgb(165, 8, 122) 100%);
    width: 120px;
    height: 3px;
    margin-top: 2px;
  }
}

@mixin font-12{
    font-size: 12px;
}
@mixin button {
  color: #fff;
  background: $pinky-orange;
  border-radius: 25px;
  padding: 4px 16px;
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
@mixin text_box{
  border-radius: 1.25rem;
  background: #f5f5f5;
  font-size: 12px;
  border: 1px solid #f5f5f5!important;
  &:focus{
    border-color: #f6325c !important;
  box-shadow: 0 0 0 0.2rem rgba(248, 70, 71, 0.5)!important;
  }
}
