// Global Declarations styles to class
@mixin heading {
  font-size: 32px;
  font-family: $font_family;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin: 60px 0;
  &::after {
    content: "";
    display: block;
    background: linear-gradient( -174deg, rgb(242, 99, 38) 0%, rgb(165, 8, 122) 100%);
    width: 120px;
    height: 3px;
    margin-top: 2px;
  }
}

@mixin font-12 {
  font-size: 12px;
}

@mixin button {
  background: $pinky-orange;
  font-size: 14px;
  font-family: $font_family;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  padding: 0.4rem 1rem;
  margin: 0.375rem;
  &:focus {
    outline: 0;
    box-shadow: none;
    background: $pinky-orange;
  }
  &:active {
    background: $pinky-orange !important;
  }
}

@mixin button_2 {
  border: 2px solid #f6325c !important;
  background-color: transparent !important;
  color: #000 !important;
  padding: 0.4rem 1rem !important;
  margin: 0;
  &:hover,
  &:active,
  &:focus {
    border: 2px solid #f6325c !important;
    border-color: #f6325c !important;
    background-color: transparent !important;
    color: #000 !important;
  }
}

@mixin button_3 {
  background: $gradient-green;
  font-size: 14px;
  font-family: $font_family;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  padding: 0.54rem 2.14rem;
  margin: 0.375rem;
  &:focus {
    outline: 0;
    box-shadow: none;
    background: $gradient-green;
  }
  &:active {
    background: $gradient-green !important;
  }
}

@mixin text_box {
  border-radius: 1.25rem;
  background: #f5f5f5;
  font-size: 12px;
  border: 1px solid #f5f5f5 !important;
  &:focus {
    border-color: #f6325c !important;
    box-shadow: 0 0 0 0.2rem rgba(248, 70, 71, 0.5) !important;
  }
}
