@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
// Global Declarations to variables
$primary_theme_color: red;
$font_family:'Roboto',
sans-serif;
$pinky-orange: linear-gradient(to right,
#ed1d78,
#f52b64,
#f83d50,
#f7503c,
#f26326);
$gradient-green: linear-gradient(to right,
rgba(145, 232, 66, 1) 0%,
rgba(157, 203, 59, 1) 100%);
