<div class="d-flex  justify-content-start align-items-center inputs">
  <form class="d-flex  justify-content-start align-items-center" (submit)="hotelSearch()">
    <div class="md-form col-md-2 input-group">

      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="city" [matAutocomplete]="auto" placeholder="select city" aria-label="Number" [formControl]="myControl"
          [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete" class="htlat">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.city" class="htl_opt">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center justify-content-between ">
                <div class="d-flex align-items-center justify-content-between fly_city">
                  <h4 class=" pr-2 mb-0">{{ option.city }}</h4>
                  <span>(BLR)</span>
                </div>
                <div>
                  <!-- <img src="/assets/images/india.jpg"/> -->
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-between ">
                <div class="airport">
                  <p class="mb-0">Karanataka ,
                    <span>India</span>
                  </p>
                </div>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>




    <div class="md-form col-md-2 input-group">
      <mat-form-field>
        <input name="checkInDate" [(ngModel)]="checkInDate" (focus)="picker.open()" matInput [matDatepicker]="picker" placeholder="Check In"
          [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="md-form col-md-2 input-group">
      <mat-form-field>
        <input name="checkOutDate" [(ngModel)]="checkOutDate" (focus)="picker2.open()" matInput [matDatepicker]="picker2" placeholder="Check Out"
          [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="md-form col-md-2 input-group">

      <mat-form-field>
        <mat-select name="Htlrooms" [(ngModel)]="Htlrooms" placeholder="No of Rooms">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="md-form col-md-2 input-group">
      <mat-form-field>

        <input disableRipple (click)="passengers_class()" matInput placeholder="Input" value="Adult {{ Adult }}, Child {{ Child }}">

        <div class="animated {{passengers_state}} passengers">
          <div class="col-12 d-flex flex-column p-3">
            <!-- <h6>Class : Economy</h6>
          <h6>Adult 1,Child 2,Infant 3</h6> -->
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">Adult</p>
              <div>
                <button type="button" class="btn waves-effect" mdbWavesEffect (click)="adultInc()">+</button>
                <button type="button" class="btn waves-effect" mdbWavesEffect (click)="adultDec()">-</button>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-3">
              <p class="mb-0">Child</p>
              <div>
                <button type="button" class="btn waves-effect" mdbWavesEffect (click)="childInc()">+</button>
                <button type="button" class="btn waves-effect" mdbWavesEffect (click)="childDec()">-</button>
              </div>
            </div>
          </div>
        </div>
      </mat-form-field>

    </div>
    <div class="md-form col-2 input-group search">
      <button type="submit" value="submit" class="btn mb-0 w-100 btn-rounded waves-effect primary_btn" mdbWavesEffect>
        Search</button>
    </div>
  </form>
</div>
