<div class="col-md-12 px-0 Hotel-Template">
  <div class="card card-cascade narrower">
    <div class=" img_pad view overlay hm-white-slight waves-light" mdbWavesEffect>
      <img src="../../../../assets/images/Hotel-image1.jpg" class="img-fluid" alt="">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="d-flex justify-content-between align-items-center">
        <i class="material-icons active">
          wifi
        </i>
        <i class="material-icons">
          camera
        </i>
        <i class="material-icons active">
          commute
        </i>
        <i class="material-icons">
          description
        </i>
        <i class="material-icons">
          event
        </i>

        <i class="material-icons active">
          important_devices
        </i>
        <i class="material-icons">
          help_outline
        </i>
        <i class="material-icons active">
          feedback
        </i>
      </h5>

      <div class="d-flex justify-content-between">
        <h4 class="card-title mb-0">G Hotel Kelawai</h4>
        <h4 class="mb-0 pipe">|</h4>
        <h4 class="mb-0 rateing">4.5/5</h4>

      </div>
      <h5 class="d-flex  align-items-center">
        <i class="material-icons active">
          star
        </i>
        <i class="material-icons active">
          star
        </i>
        <i class="material-icons active">
          star
        </i>
        <i class="material-icons active">
          star
        </i>
        <i class="material-icons ">
          star
        </i>
      </h5>

      <p class="mb-1 card-text">Near Wat Chaiya Mangkalaram, Penang</p>
      <p class="mb-2 card-text">For 8 Night :
        <span>56,151/-</span>
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-default btn-rounded waves-light theme-button" mdbWavesEffect>Take Room</button>
      </div>
    </div>
  </div>
</div>
