@import '~variables.scss';
@import '~mixins.scss';
.gobal_components {
  .button_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    .primary_button {
      @include button;
    }
    .selected_btn {
      @include button_3;
    }
    button {
      &.yes {
        background: #f73855 !important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        .material-icons {
          font-size: 16px;
          color: #fff;
        }
      }
      &.no {
        background: #1f3c4a !important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        .material-icons {
          font-size: 16px;
          color: #fff;
        }
      }
    }
  }
  .check_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .input_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pannel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  .models {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    .modal-dialog .modal-content {
      border: 0;
      border-radius: 1.125rem;
    }
    .modal-header {
      border-bottom: 1px solid #e9ecef00;
    }
   
     
      .modal-footer {
        border-top: 1px solid #e9ecef00;
        button {
          &.yes {
            background: #f73855 !important;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            .material-icons {
              font-size: 16px;
              color: #fff;
            }
          }
          &.no {
            background: #1f3c4a !important;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            .material-icons {
              font-size: 16px;
              color: #fff;
            }
          }
        }
      }
    
  }
  .input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.auto_range {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.provider {
  position: absolute;
  bottom: 0;
  border-radius: 1px;
  text-align: center;
  p {
    color: #afaeaf;
    font-size: 10px;
  }
}
.fundable:hover>.tol-tip {
  display: block;
}

button {
  &.yes {
    background: #f73855 !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    .material-icons {
      font-size: 16px;
      color: #fff;
    }
  }
  &.no {
    background: #1f3c4a !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    .material-icons {
      font-size: 16px;
      color: #fff;
    }
  }
}

.mat-card {
  box-shadow: none;
  padding: 0px;
  .mat-tab-label {
    height: 34px;
    opacity: 1 !important;
    .mat-tab-label-content {
      font-size: 15px;
      font-family: $font_family;
      color: rgb(0, 0, 0);
      line-height: 1.556;
      font-weight: 600;
    }
  }
  .mat-tab-label-active {
    // background-color: rgba(242, 99, 38, 0.6);
    background: $pinky-orange;
    color: #fff;
    opacity: 1 !important;
    .mat-tab-label-content {
      color: #fff;
    }
  }
  .mat-ink-bar {
    background: $pinky-orange;
  }
}
